$color-primary          = #124559
$color-primary-light    = lighten($color-primary, 20%)

$color-secondary        = #598392
$color-secondary-light  = lighten($color-secondary, 20%)

$color-background       = #aec3b0

$color-white            = #eff6e0
$color-black            = #01161e
