body {
  font: 2rem/1.5 "PT Sans", sans-serif;
  background-color: $color-background;
  color: $color-black;
}

hr {
  margin: 2.4rem 0;
  height: 2px;
  border: 0;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1),
              inset 0px -1px 0px rgba(255, 255, 255, 0.1)
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.greeting {
  width: 100%;
  max-width: 54rem;
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  padding: 4rem 4rem 10rem;
  border-radius: 2px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.greeting h1,
.greeting h2 {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-weight: 400;
}

.greeting h1 {
  margin-bottom: 0.2rem;
  font-size: 2.8rem;
}

.greeting h2 {
  margin-bottom: 0.2rem;
  font-size: 2rem;
}

.greeting p {
  font-style: italic;
  color: $color-secondary-light;
}

a {
  color: $color-white;
}

a:hover {
  color: $color-secondary-light;
}
