#hero
  width 100%
  min-height 550px
  background-size contain
  background-position center
  background-position center
  background-repeat no-repeat
  position relative

  #hero-signup
    width 33vw
    bottom 10%
    right 10%
    position absolute
    text-align center
    color white

    fieldset
      border none

.tabs
  .tabs-nav
    text-align center
    display flex
    justify-content space-around
    flex-wrap wrap
    margin-left 50px
    margin-right 50px

    .nav-item
      color black
      text-transform uppercase
      color #A0A0A0
      padding 20px
      font-family Montserrat
      font-size 17px
      cursor pointer
      font-weight lighter

    .separator
      margin-top 15px
      margin-bottom 15px
      border-right 1px solid #A0A0A0

.contribute
	border 2px solid #7ED321 !important
	color #7ED321 !important
	border-radius 103.68px !important
	background-color rgba(126,211,33,0.1) !important

.contribute
  font-weight bold !important

.volunteer
	border 2px solid #F83A30
	background-color rgba(248,58,48,0.1) !important

h1
  font-family Montserrat

.chunk
  padding 40px 10px 40px 10px

.chunk:nth-child(odd)
  background-color #f5f5f5

.chunk[data-kind="about"],
.chunk[data-kind="issues"],
.chunk[data-kind="why"],
.chunk[data-kind="vote"],
.chunk[data-kind="volunteer"]
  padding-left 50px
  padding-right 50px

.chunk[data-kind="about"]
  min-height 380px

.chunk[data-kind="about"], .chunk[data-kind="issues"]
  max-width 1000px
  margin-left auto
  margin-right auto

.same-row
  display flex
  justify-content space-between


  input[name="zip"]
    width 45%

  input[type="button"]
    width 45%

#footer
  background-color #F5F5F5
  padding 50px
  padding-top 50px

  .nav-item
    background-color transparent

  #paid-for-container
    width 100%
    display flex
    justify-content center
    align-items center
    min-height 110px

    #paid-for
      border 1px solid #9B9B9B
      padding 20px
      color #9B9B9B
      font-family 'Montserrat'

.more-about
  display inline
  font-size larger
  font-family 'Roboto Condensed'
  text-transform uppercase

#button-layer
  display flex
  justify-content space-between
  margin-left 50px
  margin-right 50px
  align-items center

  .button-light
    background-color transparent
    color white
    border 2px solid white

#filled-animate
  transition height ease-out 1s

.mobile
  #hero
    background-size cover
    min-height 250px
    background-position center
    background-repeat no-repeat

  .tabs
    .tabs-nav
      .nav-item
        font-size smaller


#name-separator
  margin-top 10px
  margin-bottom 10px
  display flex
  justify-content space-between

  .half
    width 45%
    margin-bottom 15px

  .star
    font-size 22px

#name
  font-size 46px
  text-transform uppercase
  font-family 'Montserrat'
  font-weight 900
  display flex
  flex-direction column
  align-items center

#district
  display flex
  font-weight bolder
  text-transform uppercase

  #for-blank, #district-spec
    width 50%
    text-align center

  #separator
    margin-top 3px
    margin-bottom 3px

#join
  margin-top 20px
  background-color rgba(255, 255, 255, .1)
  font-family 'Montserrat'

  #join-prompt
    text-align center
    text-transform capitalize
    font-size larger
    font-family 'Montserrat'

  #join-subtitle
    font-size smaller
    font-style italic
    font-family 'Montserrat'

  .form-row
    margin-top 5px
    margin-bottom 5px
