// Global Variables
primary_font_name = Roboto Slab
secondary_font_name = Metropolis


 @font-face
   font-family secondary_font_name
   font-weight 400
   font-style normal
   src url('../fonts/Metropolis-Regular.eot')
   src url('../fonts/Metropolis-Regular.eot#iefix') format('embedded-opentype')
   src url('../fonts/Metropolis-Regular.woff') format('woff')
   src url('../fonts/Metropolis-Regular.ttf') format('truetype')
   src url('../fonts/Metropolis-Regular.woff2') format('woff2')

 @font-face
   font-family secondary_font_name
   font-weight 600
   font-style normal
   src url('../fonts/Metropolis-SemiBold.eot')
   src url('../fonts/Metropolis-SemiBold.eot#iefix') format('embedded-opentype')
   src url('../fonts/Metropolis-SemiBold.woff') format('woff')
   src url('../fonts/Metropolis-SemiBold.ttf') format('truetype')
   src url('../fonts/Metropolis-SemiBold.woff2') format('woff2')

 @font-face
   font-family secondary_font_name
   font-weight 700
   font-style normal
   src url('../fonts/Metropolis-Bold.eot')
   src url('../fonts/Metropolis-Bold.eot#iefix') format('embedded-opentype')
   src url('../fonts/Metropolis-Bold.woff') format('woff')
   src url('../fonts/Metropolis-Bold.ttf') format('truetype')
   src url('../fonts/Metropolis-Bold.woff2') format('woff2')

 .ingeo
   font-family Geo

div
  padding-top 0px

h1
  font-family primary_font_name,
  font-weight bold
  font-size 40px
  color #3C2D82
  margin auto

h2
  font-family primary_font_name // Fixed
  font-weight bold
  font-size 1.6em
  color #3C2D82
  margin auto

h3
  font-family primary_font_name // Fixed
  font-weight bold
  font-size 2em
  color #ffffff
  max-width 1100px
  margin auto

p
  font-family secondary_font_name
  font-weight 400
  font-size 20px
  margin auto

#hero
  width 100%
  height 100%
  max-height 547px
  //height 547px
  position relative
  background-repeat no-repeat
  background-image url(https://cosmic-s3.imgix.net/22cbc290-5ee9-11e8-b73f-cb1681c50ff2-ocasio-desktop-header.jpg)
  //url(https://cosmic-s3.imgix.net/c8b74f40-56eb-11e8-a098-e1c5d0edce44-banner-no-logo.png)
  background-color #3C2D82
  background-position-y bottom

  #hero-logo
    //background-image url(https://preview.ibb.co/jNBAgJ/Ocasio2018_Logo_WHITE.png)
    //background-size contain
    //background-repeat no-repeat
    //max-height 369px
    //height auto
    //width auto
    max-width 500px
    opacity 0.7
    margin auto
    //position absolute
    //right 20%
    width 30%
    position relative
    top 20%
    left -2%

  #hero-signup
    top 20%
    right 5%
    color white
    position absolute
    text-align center

    fieldset
      border none

    #join
      background-color hsla(0,0%,100%,.1)
      font-family secondary_font_name
      font-weight 600
      max-width 351px

      #join-prompt
        font-size 28px
        font-family primary_font_name // Fixed
        font-weight bold
        text-align center
        margin-top -10px
        text-shadow 0 2px 4px 0

      #join-subtitle
        font-size 14px
        font-style normal
        font-weight normal
        text-align center

      .form-row
        margin-top 8px
        margin-bottom 8px

        #join-submit
          color #FFFFFF
          font-family secondary_font_name
          font-size 13px
          font-weight 600
          line-height 23px
          text-align center
          letter-spacing 1px

.main > #hero-signup
  display none

@media (max-width: 1440px)
  #hero
    background-size 90%
    background-position-x -100px

@media (max-width: 1140px)
  #hero
    height 85%

    #hero-signup
      top 9%
      right 1%

@media (max-width: 960px)
  .main > #hero-signup
    display block
    color #3C2D82

  #hero
    #hero-signup
      display none

.nav
  height 129px
  background-color #f5f5f5
  flexbox(flex)
  justify-content(center)
  align-items(center)
  flex-wrap(nowrap)
  padding-left 10%
  padding-right 10%

  .logo
    max-height 89px
    max-width 100%
    margin-right 137px

.tabs
  margin-bottom 0px !important // Countering stupid CSS

  .tabs-nav
    flexbox(flex)
    justify-content(space-between)
    flex-wrap(nowrap)
    line-height 0px !imporant // Countering stupid CSS
    margin-bottom 0px // Countering stupid CSS

    .nav-item
      text-transform uppercase
      color #3C2D82
      padding 1rem 1rem !important // Countering stupid CSS
      font-family secondary_font_name
      font-size 17px
      cursor pointer
      font-weight bold
      background none
      letter-spacing 1px

      .contribute
        border 0px !important
        color #ffffff !important
        border-radius 3px !important
        height 51px !important
        background-color rgba(80,192,32,0.83) !important

      .volunteer
        color #ffffff !important
        border-radius 3px!important
        height 51px
        border 0px !important

    .separator
      // margin-top 15px
      // margin-bottom 15px
      // border-right 1px solid #A0A0A0

@media (max-width: 960px)
  .nav
    display:none;

#mobileFooterNav
  background-color #f5f5f5
  height 130px
  display flex
  align-items center
  justify-content space-between
  padding 0 10%

  .logo
    max-height 89px
    max-width 100%

.main .mobile-menu > div
  padding 0 10%
  top 0
  margin 0 !important
  > div
    background-color #3c2d82 !important

@media (min-width: 961px)
  #mobileFooterNav, .mobile-menu
    display none

.chunk
  padding-left 10%
  padding-right 10%
  // padding-top 30px
  // padding-bottom 30px

.contribute
  color #ffffff !important
  background-color rgba(80,192,32,0.83) !important

.volunteer
  color #ffffff !important
  background-color #3C2D82 !important

// About Chunk //

#chunk-about
  flexbox(flex)
  margin 4em 0

  @media screen and (min-width: 701px)
    flex-direction(row)

  @media screen and (max-width: 700px)
    flex-direction(column)
    align-itemst(center)

  #about-text-container
    flexbox(flex)
    flex-direction(column)

    @media screen and (min-width: 701px)
      order(1)

    @media screen and (max-width: 700px)
      order(2)

    #about-header-container
      margin-bottom 1.5rem

  #about-image-container
    flexbox(flex)
    flex-direction(column)
    align-items(center)

    @media screen and (min-width: 701px)
      order(2)
      margin-left 4.51rem

    @media screen and (max-width: 700px)
      order(1)
      margin-bottom 2em

    #district-image-container
      // Stiff

      #district-image
        max-height 247px
        max-width 100%

    #district-image-subheader
      margin-top 2em

      @media screen and (max-width: 700px)
        display none

      #district-image-text
        font-size 36px
        font-weight bold
        font-family primary_font_name

// Issues Chunk //

#chunk-issues
  background-color #F8D11C
  flexbox(flex)
  padding-top 60px

  #issues-image-container
    margin-top auto
    width 50%

    #issues-image
      margin-bottom auto
      max-width 115%
      min-width 100%
      height auto
      width auto/9

  #issues-text
    flexbox(flex)
    flex-direction(column)
    width 40%

    h1
      margin-bottom 33px

    #issues-header
    	font-family primary_font_name
    	line-height 45px

    #issues-paragraph
      font-family secondary_font_name
      font-size 20px
      line-height 29px

    #issues-button-container
      padding 4em 0 5em 0
      margin 0 auto

      #issues-cta-button
        background-color #3c2d82;
        padding 1em 2em 2em 2em;
        font-family secondary_font_name
        font-size 18px
        font-weight 600
        line-height 18px
        text-align center
        vertical-align middle

  #issues-separator
    width 10%

.mobile
  #chunk-issues
    #issues-text
      width auto
    #issues-separator
      width 0

// Why Support Shortened //

#chunk-why-shortened
  flexbox(flex)
  background-color #ffffff
  align-items(center)
  justify-content(center)
  margin 4em 0em 5em 0em

  #shortened-support-header
    color #3C2D82
    font-family primary_font_name // Fixed
    font-size 64px
    font-weight bold
    line-height 76px
    text-align center

// Why Support //

#chunk-why
  background-color #3C2D82
  flexbox(flex)
  flex-direction(row)
  padding 0

  #why-support-text
    flexbox(flex)
    flex-direction(column)
    padding 4em 0em 4em 10%
    margin 0em 5em 0em 0em

    #why-support-header
      margin 0em 0em 1em 0em

      #why-support-header-text
        color #FFFFFF
        line-height 45px

    #why-support-body
      margin 1em 0em 1em 0em

      p
        color #FFFFFF
        line-height: 29px;

    #why-support-learn-more
      margin 2em 0em 0em 0em

      #why-support-cta
        color #FFFFFF
        font-family secondary_font_name
        font-size 14px
        font-weight bold
        line-height 17px
        text-transform uppercase
        text-align center

  #why-support-image
    // background-image url(https://cosmic-s3.imgix.net/af195580-5a40-11e8-af91-73e918c660c1-alex_on_street.png)
    background-image url(https://i.imgur.com/MoJ1emX.png)
    background-repeat no-repeat
    background-position right
    background-size cover
    width 100%

// Donate Chunk //

#chunk-donate
  flexbox(flex)
  flex-direction(column)
  align-items(center)
  justify-content(center)
  background-color #EDEDED;
  margin 2.5em 2.5em 2.5em 2.5em
  padding 4em 0em 4em 0em

  #donate-header
    margin-bottom 2.5em

    #donate-header-text
      color: #3C2D82;
      line-height: 45px;
      text-align center

  #circles-container
    flexbox(flex)
    flex-wrap wrap
    text-align center
    justify-content center
    //margin 2.5em 0em 2.5em 0em

    .circle
      flexbox(flex)
      justify-content(center)
      flex-direction(column)
      height 155px
      width 155px
      color white
      background-color rgba(80,192,32,0.83)
      font-weight bold
      border 8px solid white
      border-radius 50%
      margin 2.5em 2.5em 0px 2.5em

      .amount
        font-size 35px

  #custom-donation-container
    flexbox(flex)
    flex-direction row
    flex-wrap wrap
    justify-content center
    text-align center
    height auto
    //margin 2.5em .75em .5em .75em !important

    #custom-contribution-go
      border 0px // Countering stupid CSS
      height 54px
      color #ffffff
      text-transform uppercase
      font-weight bold
      font-size 18px
      background-color rgba(80,192,32,0.83)
      padding 10px 20px 10px 20px
      //margin-left 12px
      margin 2.2em 12px

    #custom-contribution
      border 0px // Countering stupid CSS
      width 101px
      height 54px
      text-align center
      font-weight bold
      color #9E9E9E
      background-color #FFFFFF
      box-shadow inset 1px 1px 1px 0 rgba(0,0,0,0.5)
      padding 10px 0px 10px 0px
      //margin-right 12px
      margin 2.5em 12px

@media (max-width: 425px)
  #chunk-donate
    #custom-donation-container
      flex-direction column
      #custom-contribution-go
        margin-top 0
        margin-bottom 0
      #custom-contribution
        margin 2.5em auto

// Platform Chunk //

#chunk-platform
  flexbox(flex)
  flex-direction(column)
  align-items(center)
  justify-content(center)
  background-color #EDEDED;

  #platform-header
    flexbox(flex)
    margin 4em 0em 4em 0em
    width 100%

    #platform-header-text
      font-size 4em

  #planks-container
    flexbox(flex)
    justify-content(center)
    flex-wrap(wrap)

    .plank-container
      flex-grow 1
      flexbox(flex)
      flex-direction(column)
      justify-content(space-between)
      text-align center
      background-color #FFFFFF
      margin 0.75em
      padding 2em
      width 30%
      max-width 384px
      min-height 322px

      .plank-header
        text-align center
        width 100%
        min-height 6em

        .plank-header-text
          font-size 36px
          font-family primary_font_name // Fixed
          text-align center
          font-weight bold
          color #3C2D82

      .plank-intro-container
        width 100%
        align-self(flex-start)

        .plank-intro
          align-self(flex-start)

          .plank-intro-text
            font-size 18px

            h2
              display none

      .plank-cta-container
        margin-top 1em

        .plank-cta
          color: #3C2D82;
          font-family secondary_font_name
          font-size 14px
          font-weight bold
          text-transform uppercase
          margin-bottom 0.5em
          border-bottom 2px solid #3C2D82

  #planks-button-container
    padding 4em 0 5em 0

    #planks-cta-button
      background-color #3C2D82
      // border-radius 3px;
      // box-shadow 0 2px 4px 0 rgba(0,0,0,0.5), 2px 2px 6px 0 rgba(0,0,0,0.5)
      padding 1em 2em 2em 2em
      font-family secondary_font_name
      font-size 18px
      font-weight 600
      line-height 18px
      text-align center
      &:hover
        background-color rgb(140, 116, 255)


// Volunteer Chunk //

#chunk-volunteer
  flexbox(flex)
  background-color #FFFFFF // Delete
  flex-direction(column)
  margin 4em 0em 5em 0em

  #volunteer-header
    flexbox(flex)
    background-color #ffffff
    align-items(center)
    justify-content(center)
    margin 0em 0em 5em 0em

    #volunteer-header-text
      color #3C2D82
      font-family primary_font_name
      font-size 4em
      font-weight bold
      text-align center

  #volunteer-form-block-container
    // No flexbox here
    background-color #4c3e8b

    #volunteer-form-overlay
      border-size = 0.25em
      margin 3em 3.5em 3em 3.5em
      border-top border-size solid #675b9d
      border-bottom border-size solid #3c2d82
      flexbox(flex)
      justify-content(center)
      background-color #5a4d95

      #volunteer-form
        padding 5em 4em 5em 4em

        #volunteer-form-object
          // Stuff

          #volunteer-form-container
            flexbox(flex)
            flex-direction(row)
            justify-content(space-between)

            #volunteer-options
              flexbox(flex)
              flex-direction(column)
              justify-content(center)
              width 50%
              margin-right 2em
              // Stuff

              #volunteer-form-text-block
                flexbox(flex)
                flex-direction(column)
                justify-content(space-between)
                // Stuff

                #volunter-form-text-header-container
                  margin-bottom 1em

                  #volunteer-form-text-header
                    font-size 28px
                    font-weight bold
                    font-family primary_font_name // Fixed
                    color #FFFFFF
                    text-align center
                    // Stuff

                #volunteer-form-text-body-container
                  margin-top 1em

                  #volunteer-form-text-body
                    font-size 14px
                    font-family secondary_font_name
                    color #FFFFFF
                    text-align center

              #volunteer-checkboxes
                // Stuff

                .checkbox-row
                  flexbox(flex)
                  flex-direction(row)
                  justify-content(center)

                  .option
                    font-family secondary_font_name
                    font-size 16px
                    font-weight 700
                    color #FFF
                    width 100%

                    &:nth-child(0)
                      align-self(flex-start)

            #form-input-fields
              flexbox(flex)
              flex-direction(column)
              justify-content(space-between)
              align-items(stretch)
              width 50%
              margin-left 2em

              .form-row
                flexbox(flex)
                justify-content(space-between)
                flex-direction(row)
                align-items(space-between)
                height 100%

                input
                  height 90%

                #phone-input
                  width 65%

                #zip-input
                  width 30%

                .button
                  width 100%
                  background-color #3C2D82
                  padding 1em 2em
                  font-family secondary_font_name
                  font-size 13px
                  font-weight 600
                  line-height 13px
                  text-align center

                  &:hover
                    background-color rgb(140, 116, 255)

// News Chunk //

#chunk-news
  flexbox(flex)
  flex-direction(column)
  align-items(center)
  justify-content(center)
  background-color #EDEDED;

  #news-cta
    padding 4em 0 5em 0

    #news-cta-button
      background-color #3C2D82
      // border-radius 3px;
      // box-shadow 0 2px 4px 0 rgba(0,0,0,0.5), 2px 2px 6px 0 rgba(0,0,0,0.5)
      padding 1em 2em 2em 2em
      font-family secondary_font_name
      font-size 18px
      font-weight 600
      line-height 18px
      text-align center
      vertical-align middle
      &:hover
        background-color rgb(140, 116, 255)

  #news-header
    flexbox(flex)
    margin 4em 0em 4em 0em
    width 100%

    #news-header-text
      font-size 4em

  #news-articles-container
    flexbox(flex)
    justify-content(center)
    flex-wrap(wrap)

    .article-container
      // flex-grow(1)
      flexbox(flex)
      flex-direction(column)
      justify-content(space-between)
      background-color #FFFFFF
      margin 0.75em
      padding 2em
      width 30%
      max-width 384px
      min-height 322px

      .article-thumbnail
        max-width 100%
        height 100px
        background-size contain
        background-repeat no-repeat
        background-position center

      .headline
        margin 1em 0 1em 0

        h2
          color #3C2D82
          font-size 36px !important
          font-family primary_font_name // Fixed
          font-weight bold
          text-align left
          line-height 36px !important // potentially redundant

      .description
        // padding

        p
          font-size 1em

// Twitter Chunk //

#chunk-twitter
  background-color #FFFFFF
  padding-top 75px
  padding-bottom 75px
  text-align center

  img
    border-radius 50%
    display inline-block
    width 300px
    height 300px

  #twitter-feed
    display inline-block
    width 50%
    margin-left 75px
    max-width 1200px

@media (max-width: 947px)
  #chunk-twitter
    #twitter-feed
      width 100%
      margin-left 0
      margin-top 75px
      //width 250px

@media (max-width: 425px)
  #chunk-twitter
    img
      width 250px
      height 250px
    #twitter-feed
      margin-left 0
      margin-top 75px
      width 250px




// Endorsements Chunk //

#chunk-endorsements
  flexbox(flex)
  flex-direction(column)
  align-items(center)
  justify-content(center)
  background-color #EDEDED

  #endorsement-header-container
    flexbox(flex)
    margin 5em 0em 5em 0em
    width 100%

    #endorsement-header-text
      font-size 4em

  #endorsement-container
    flexbox(flex)
    justify-content(center)
    align-items(center)
    flex-direction(row)

    .endorsement-logo-container
      flexbox(flex)
      align-items(center)
      margin 1.5em

      .endorsement-logo-link
        // Filler

        .endorsement-logo-image
          filter gray
          -webkit-filter grayscale(1)
          filter grayscale(1)
          // max-height 8em
          width auto
          max-height 5em


  #endorsement-button-container
    padding 4em 0 5em 0

    #endorsement-button
      background-color #3C2D82
      // border-radius 3px;
      // box-shadow 0 2px 4px 0 rgba(0,0,0,0.5), 2px 2px 6px 0 rgba(0,0,0,0.5)
      padding 1em 2em 2em 2em
      font-family secondary_font_name
      font-size 18px
      font-weight 600
      line-height 18px
      text-align center
      vertical-align middle
      text-transform uppercase
      &:hover
        background-color rgb(140, 116, 255)

// Events Chunk //

#chunk-events
  flexbox(flex)
  background-color #FFFFFF // Delete
  flex-direction(column)
  align-items(center)
  justify-content(center)
  margin 4em 0em 5em 0em

  #events-header-container
    flexbox(flex)
    background-color #ffffff
    align-items(center)
    justify-content(center)
    margin 0em 0em 5em 0em

    #events-header-text
      color #3C2D82
      font-family primary_font_name
      font-size 3.5em
      font-weight bold
      text-align center

  #events-scroll-container
    flexbox(flex)
    flex-direction(column)
    overflow-y scroll
    height 500px


    .event-container
      padding 2.5em 2em
      margin 0.25em 0
      flexbox(flex)
      flex-direction(row)
      justify-content(space-between)
      background-color #f5f5f5

      .event-text-container
        align-self(left)
        flexbox(flex)
        flex-direction(column)
        flex-wrap(wrap)

        .event-title-container
          // Stuff

          .event-title-text
            font-family secondary_font_name
            font-weight 700
            font-size 1em
            color #000000

        .event-description-container
          // Stuff

          .event-description-text
            font-family secondary_font_name
            font-weight 400
            font-size 0.75em
            color #000000

      .event-button-container
        flexbox(flex)
        flex-direction(row)
        justify-content(space-between)

        button
          font-family secondary_font_name
          text-transform uppercase
          font-size 0.75em
          color #3C2D82
          border transparent
          border-bottom 2px solid #3C2D82
          background-color transparent
          &:hover
            background-color #3C2D82
            color #FFF

        .event-rsvp-button-container
          margin 0 0.5em

          .event-rsvp-button
            // Stuff

        .event-share-button-container
          margin 0 0.5em

          .event-share-button
            // Stuff

  #events-host-button-container
    padding 4em 0 0 0

    #events-host-button
      background-color #3C2D82
      // border-radius 3px;
      // box-shadow 0 2px 4px 0 rgba(0,0,0,0.5), 2px 2px 6px 0 rgba(0,0,0,0.5)
      padding 1em 2em 2em 2em
      font-family secondary_font_name
      font-size 18px
      font-weight 600
      line-height 18px
      text-align center
      vertical-align middle
      &:hover
        background-color rgb(140, 116, 255)

.chunk[data-kind="quote"]
  padding 0px

// .chunk[data-kind="about"], .chunk[data-kind="issues"]
//   max-width 1000px
//   margin-left auto
//   margin-right auto

.same-row
  flexbox(flex)
  justify-content(space-between)


  input[name="name"], input[name="email"]
    width 48%

  input[type="tel"]
    width 60%

  input[name="zip"]
    width 35%

  input[type="submit"]
    width 100%

// Footer Block

#footer
  flexbox(flex)
  flex-direction(row)
  align-items(center)
  justify-content(space-between)
  background-color #3C2D82
  font-size 16px
  line-height 1.5em
  padding 50px 10% !important

  a
    color #ffffff !important
    font-weight: bold
    vertical-align: top

  #paid-for-container
    #paid-for
      flex(1)
      border 1px solid #FFFFFF
      padding 20px 10px
      text-align center
      max-width 440px
      color #FFFFFF
      font-family secondary_font_name

  #privacy-policy-container
    flexbox(flex)
    align-items(center)
    justify-content(center)

  #email-us
    flexbox(flex)
    flex-direction(column)
    align-items(center)
    color #FFFFFF

@media (max-width: 992px)
  #footer
    flex-direction(column)

    #paid-for-container, #privacy-policy-container
      margin-bottom 30px

    #email-us
      text-align center





.more-about
  display inline
  font-size 1em
  font-family primary_font_name // Fixed
  font-weight bold
  color #3C2D82
  margin-top 10px
  text-decoration underline
  text-underline-position under
  text-transform unset

.main > #button-layer
  display none

//.mobile
@media (max-width: 960px)
  .main > #button-layer
    display flex
    width 100%
    justify-content(space-around)
    margin 0

#button-layer
  flexbox(flex)
  justify-content(space-between)
  margin-left 1rem
  //margin-right 50px
  align-items(center)

  #social-container
    flexbox(flex)
    justify-content(space-between)
    width 100px
    align-items(center)

  .button-light
    background-color transparent
    color white
    border 2px solid white

#filled-animate
  transition height ease-out 1s

//.mobile
@media (max-width: 960px)
  #hero
    background-size contain
    background-image: url(https://cosmic-s3.imgix.net/341855b0-5ee2-11e8-9f06-23be1fda63d3-ocasio-mobile-header.png)
    background-color #3C2D82
    min-height 250px
    background-position bottom
    background-repeat no-repeat

  .tabs
    .tabs-nav
      .nav-item
        font-size smaller


#name-separator
  margin-top 10px
  margin-bottom 10px
  flexbox(flex)
  justify-content(space-between)

  .half
    width 45%
    margin-bottom 15px

  .star
    font-size 22px

.mobile
  #name
    font-size 35px

#name
  font-size 46px
  text-transform uppercase
  font-family secondary_font_name
  font-weight 900
  flexbox(flex)
  flex-direction(column)
  align-items(center)

#district
  flexbox(flex)
  font-weight bolder
  text-transform uppercase

  #for-blank, #district-spec
    width 50%
    text-align center
    flexbox(flex)
    align-items(center)
    justify-content(center)

  #separator
    margin-top 3px
    margin-bottom 3px

.flex
  flexbox(flex)

.justify-center
  justify-content(center)

.full-center
  flexbox(flex)
  justify-content(center)
  align-items(center)

.about-flex
  flexbox(flex)
  justify-content(space-between)
  flex-direction(column)
  width 100%

.column-center
  flexbox(flex)
  flex-direction(column)
  justify-content(center)
  align-items(center)
