@require fonts
// Hero Container //
#about-hero-wrapper
  width 100%
  max-width 100%
  background-color #3C2D82

#about-hero-container
  flexbox(flex)
  flex-direction(row)
  justify-content(center)
  align-items(center)
  padding 0 10%
  max-width 1440px
  margin 0 auto
  // Stuff

  @media (max-width 960px)
    // Stuff

  @media (min-width 961px)
    // Hiiii

  #hero-text-container
    flexbox(flex)
    flex-direction(column)
    justify-content(center)
    margin 5em 0
    width 100%
    // Stuff
    @media (max-width 960px)
      padding 0

    @media (min-width 961px)
      padding 0 10%

    #hero-header-container
      flexbox(flex)
      align-items(center)
      justify-content(center)

      #hero-header-text
        font-size 64px
        color #ffffff
        font-family primary_font_name
        text-align center
        font-size 64px

        @media (max-width 320px)
          font-size 42px

        @media (max-width 320px)
          // Stuff

        @media (min-width 961px)
          // Stuff


    #hero-divider-container
      flexbox(flex)
      flex-direction(row)
      justify-content(center)
      align-items(center)

      #hero-divider-left-container
        flexbox(flex)
        align-items(center)
        justify-content(center)
        width 100%

        #hero-divider-left
          color #ffffff
          margin-left 0
          margin-right 0
          width 100%

      #hero-divider-star-container
        flexbox(flex)
        align-items(center)
        justify-content(center)
        margin 0em 12px

        #hero-divider-star
          color #ffffff
          font-size 30px


      #hero-divider-right-container
        flexbox(flex)
        align-items(center)
        justify-content(center)
        width 100%

        #hero-divider-right
          color #ffffff
          margin-left 0
          margin-right 0
          width 100%

    #hero-subheader-container
      flexbox(flex)
      align-items(center)
      justify-content(center)

      #hero-subheader-text
        font-size 20px
        color #FFFFFF
        font-family secondary_font_name
        text-align center
        letter-spacing 1.35px

// Biography Chunk //

.bio-chunk
  background-color #ededed
  max-width 100% !important
  padding 0
  overflow hidden

  .bio-story-container
    max-width 1440px
    flexbox(flex)

    @media (max-width: 960px)
      flex-direction(column)
      margin 0
      padding 0 5%

    @media (min-width: 961px)
      flex-direction(row)
      margin 0 auto
      padding 0 5%

    .bio-text-container
      flexbox(flex)
      flex-direction(column)

      @media (max-width: 960px)
        width 100%
        padding 4em 0 0 0

      @media (min-width: 961px)
        padding 4em 0em 0em 0em
        margin 0
        width 100%

      .bio-header-container
        margin 0em 0em 2em 0em
        flexbox(flex)
        flex-direction(row)

        .bio-header-text
          text-align center

          @media (max-width: 960px)
            // Stuff

          @media (min-width:961px)
            font-size 48px


      .bio-paragraph-container
        margin 1em 0em 1em 0em
        // flexbox(flex)
        // flex-direction(column)

        @media (max-width: 1300px)
          margin 1em 0em 1em 0em

        @media (min-width: 1301px)
          margin 1em 0em 0em 0em

        p
          font-family secondary_font_name
          color #3C2D82

          @media (min-width:320px) and (max-width: 960px)
            //font-size 20px

          @media (min-width:961px) and (max-width: 1600px)
            //font-size 16px

          @media (min-width: 1601px)
            //font-size 20px

          img
            // Stuff

            @media (max-width: 500px)
              max-width 100%

            @media (min-width: 501px)
              max-width 40%

          .fr-fil
            float left
            float inline-start

            @media (max-width: 960px)
              margin 0 20px 20px 0

            @media (min-width: 961px) and (max-width: 1200px)
              margin 20px 20px 20px 0em

            @media (min-width: 1201px)
              margin 20px 20px 0em 0em

          .fr-fir
            float right
            float inline-end

            @media (max-width: 960px)
              margin 0 0 20px 20px

            @media (min-width: 961px)
              margin 20px 0em 20px 20px

        h2
          margin 1em 0em
          font-size 40px
          text-align center

#experience-paragraph-text
  color white !important

#experience-header-text
  color white !important

#about-chunk-moving-forward
  padding-bottom 4em

#moiving-forward-paragraph-text
  img
    &:nth-child(1)

      @media (max-width: 960px)
        max-width 30% !important

      @media (max-width: 960px)
        max-width 100% !important


// Issues v2 //

#about-chunk-experience-v2
  background-color #3C2D82
  max-width 100%
  padding 0
  overflow hidden

  #issues-container-v2
    max-width 1440px
    flexbox(flex)

    @media (max-width: 960px)
      flex-direction(column)
      margin 0
      padding 0

    @media (min-width: 961px)
      flex-direction(row)
      margin 0 auto
      padding 0 5%

    #issues-image-container
      height 100%
      width 100%
      height auto
      position relative
      text-align right


      #issues-image
        // Stuff

        @media (max-width: 960px)
          // display none

        @media (min-width: 961px)
          max-width none
          height 100%
          position absolute
          right 0

    #issues-text-container
      flexbox(flex)
      flex-direction(column)
      width 100%

      @media (max-width: 960px)
        // width 100%
        padding 2em 5% 2em 5%

      @media (min-width: 961px)
        padding 4em 0em 4em 0em
        margin 0em 0em 0em 4em
        // width 50%

      #issues-header-container
        margin 0em 0em 1em 0em
        flexbox(flex)
        flex-direction(row)

        #issues-header-text
          text-align left
          color white

          @media (min-width:320px) and (max-width: 960px)
            //font-size 40px

          @media (min-width:961px) and (max-width: 1600px)
            //font-size 32px

          @media (min-width: 1601px)
            //font-size 40px

      #issues-paragraph-container
        margin 1em 0em 1em 0em
        flexbox(flex)

        p
          font-family secondary_font_name
          color white

          @media (min-width:320px) and (max-width: 960px)
            //font-size 20px

          @media (min-width:961px) and (max-width: 1600px)
            //font-size 16px

          @media (min-width: 1601px)
            //font-size 20px

      #issues-button-container
        margin 1em 0em 1em 0em
        flexbox(flex)
        flex-direction(row)
        align-items(center)
        justify-content(center)

        #issues-cta-button
          background-color #3C2D82
          padding 1em 2em 2em 2em
          font-family secondary_font_name
          font-weight 600
          text-align center
          font-size 20px
          white-space normal
          line-height 1.3 !important
          height auto
          padding 1em 2em 1em 2em

          &:hover
            background-color rgb(140, 116, 255)

          @media (min-width:320px) and (max-width: 960px)
            //font-size 20px
            //line-height 20px

          @media (min-width:961px) and (max-width: 1600px)
            //font-size 16px
            //line-height 16px

          @media (min-width: 1601px)
            //font-size 20px
            //line-height 20px


// Issues Chunk //

#about-chunk-early-life-v3
  background-color #ededed
  max-width 100%
  padding 0

  #issues-container
    margin 0 auto
    max-width 1440px
    flexbox(flex)
    flex-direction(row)
    justify-content(center)
    align-items(stretch)

    @media (max-width: 960px)
      padding 0 5% 0 5%

    @media (min-width: 961px)
      padding 0 5% 0 2.5%

    #issues-image-container
      width 50%
      position relative
      // margin-top 20px

      @media (max-width: 960px)
        display none

      @media (min-width: 961px)
        display block

      #issues-image
        //height 100%
        width auto
        position absolute
        overflow hidden
        max-width none
        bottom 0
        //left -200px

        @media (max-width: 1300px)
          left -10%
        @media (max-width: 1200px)
          left -30%
        @media (max-width: 1000px)
          left -50%

    #issues-text-container
      flexbox(flex)
      flex-direction(column)

      @media (max-width: 960px)
        // width 100%
        padding 2em 5% 4em 5%

      @media (min-width: 961px)
        padding 4em 0em 4em 0em
        margin 0em 0em 0em 4em
        // width 50%

      #issues-header-container
        margin 0em 0em 1em 0em
        flexbox(flex)
        flex-direction(row)

        #issues-header-text
          text-align left

          @media (min-width:320px) and (max-width: 960px)
            //font-size 40px

          @media (min-width:961px)
            //font-size 32px

          @media (min-width: 1601px)
            //font-size 40px

      #issues-paragraph-container
        margin 1em 0em 1em 0em
        flexbox(flex)

        p
          font-family secondary_font_name

          @media (min-width:320px) and (max-width: 960px)
            //font-size 20px

          @media (min-width:961px) and (max-width: 1600px)
            //font-size 16px

          @media (min-width: 1601px)
            //font-size 20px


// Why Support //

#about-chunk-moving-forward-v2
  background-color #ededed
  max-width 100%
  padding 0
  overflow hidden

  #why-support-wrapper
    max-width 1440px
    //background-color #3C2D82
    flexbox(flex)

    @media (max-width: 960px)
      flex-direction(column)
      margin 0
      padding 0

    @media (min-width: 961px)
      flex-direction(row)
      margin 0 auto
      padding 0 5%

  #why-support-text
    flexbox(flex)
    flex-direction(column)
    width 100%

    @media (max-width: 960px)
      order(2)
      padding 2em 5% 4em 5%

    @media (min-width: 961px)
      order(1)
      padding 4em 0em 4em 0
      margin 0em 5em 0em 0em

    #why-support-header
      margin 0em 0em 2em 0em

      #why-support-header-text
        text-align center
        color #3c2d82
        // line-height 45px

        @media (min-width:320px) and (max-width: 960px)
          //font-size 40px

        @media (min-width:961px) and (max-width: 1600px)
          //font-size 32px

        @media (min-width: 1601px)
          //font-size 40px

    #why-support-body
      margin 1em 0em 1em 0em
      color #3c2d82
      font-weight 400
      font-size 20px
      margin auto
      // line-height: 29px;

      @media (min-width:320px) and (max-width: 960px)
        //font-size 20px

      @media (min-width:961px) and (max-width: 1600px)
        //font-size 16px

      @media (min-width: 1601px)
        //font-size 20px

    #why-support-learn-more
      margin 2em 0em 0em 0em

      #why-support-cta
        color #FFFFFF
        font-family secondary_font_name
        font-size 14px
        font-weight bold
        line-height 17px
        text-transform uppercase
        text-align center

  #why-support-image
    // Stuff
    height 100%
    height auto
    position relative

    @media (max-width: 960px)
      order(1)
      // height 100%
      overflow hidden

    @media (max-width: 425px)
      order(1)
      // height 350px;
      overflow hidden

    @media (min-width: 961px)
      order(2)
      width 100%
      // margin 0 0 0 -25%

    #why-support-image-actual
      // Stuff
      height 100%
      width auto
      max-width none

      // -webkit-transform scaleX(-1)
      // transform scaleX(-1)

      @media (max-width: 1200px)
        //right -200px

      @media (max-width: 960px)
        width 100%
        height auto
        clip unset
        overflow hidden
        left 0


      @media (min-width: 961px)
        position absolute
        // -webkit-clip-path polygon(0 0, 80% 0, 80% 100%, 0% 100%)
        // clip-path polygon(0 0, 80% 0, 80% 100%, 0% 100%)

// .about-header-container
//   color white
//
//   p
//     margin 0
//
//   .top-container
//     flexbox(flex)
//     margin-bottom 50px
//
//     .name-header
//       margin-right 30px
//
//     img
//       height 250px
//       width 250px
//       border-radius 50%
//       border 10px solid white
//
//   .tabs
//     margin 0
//     padding-top 20px
//
//     .nav-item
//       background-color transparent
//       color #939393 !important
//       border none !important
//
//   .main-container
//     flexbox(flex)
//     justify-content(flex)
//     align-items(center)
//     flex-direction(column)
//
//     #name-separator
//       width 350px
//       margin-top 10px
//       margin-bottom 10px
//       flexbox(flex)
//       justify-content(space-between)
//
//       .half
//         width 45%
//         margin-bottom 15px
//
//       .star
//         font-size 22px
//
//     .mobile
//       #name
//         font-size 35px
//
//     #name
//       font-size 46px
//       text-transform uppercase
//       font-family 'Montserrat'
//       flexbox(flex)
//       font-weight normal
//       flex-direction(column)
//       align-items(center)
//       text-align left
//       align-items(flex-start)
//
//     .info-container
//       .button
//         padding-left 50px
//         padding-right 50px
//         text-transform uppercase
//         font-weight bold
//         border-radius 0px
//
//       div
//         margin-top 13px
//         margin-bottom 13px
//         text-transform uppercase
//
//   .district
//     font-weight bold
//     font-family 'Roboto Condensed'
//     letter-spacing 2px
//     padding-top 5px
//     padding-bottom 5px
//     width 220px
//     text-align center
//
//   .about-header
//     color white
//     font-family 'Montserrat'
//     text-transform uppercase
//     font-weight bold
//
// .about-header-container
//   width 100%
//
// .about-page
//   flexbox(flex)
//   flex-direction(column)
//   align-items(center)
//   width 100%
//
//   .section
//     max-width 1100px
//     font-size 20px
//     padding 30px
//
// .quote-one
//   width 100%
//   background-size cover
//   color white
//   flexbox(flex)
//   justify-content(center)
//   align-items(center)
//   font-size 32px
//   font-family 'Roboto Condensed'
//   min-height 200px
//   font-weight bold
//
//   p
//     margin 0
//
// .quote-two
//   width 100%
//   flexbox(flex)
//   justify-content(space-between)
//   min-height 250px
//
//   .quote-two-content
//     width 59%
//     color white
//     font-size 32px
//     font-family 'Roboto Condensed'
//     flexbox(flex)
//     justify-content(center)
//     align-items(center)
//     font-weight bold
//
//     p
//       margin 0
//
//   .image
//     width 39%
//     height 100%
//     background-size cover
//     min-height 250px
