#donate
  background-color #f5f5f5
  min-height 450px
  text-align center
  display flex
  justify-content space-around
  flex-direction column
  padding 25px

  #circles-container
    display flex
    justify-content space-around
    align-items center
    height 100%

    .circle
      height 190px
      width 190px
      display block
      text-decoration none
      color white
      font-weight bold
      border 15px solid white
      border-radius 50%
      display flex
      justify-content center
      align-items space-around
      flex-direction column

      .amount
        font-size 35px
