.endorsement-container
  display flex
  flex-wrap wrap
  justify-content space-around

  .endorsement
    display flex
    flex-direction column
    align-items center

    .logo-container
      border-radius 50%
      background-color #ebebeb
      height 240px
      width 240px
      display flex
      justify-content center
      align-items center
      margin-top 30px
      margin-bottom 30px

    .organization-name
      font-family 'Roboto Condensed'
      font-weight bold
      font-size 24px
      color #9B9B9B
