// .chunk[data-kind="events"]
//   .full-center
//     flex-direction column
//
// .event-box
//   overflow-y scroll
//   max-height 500px
//   background-color #F5F5F5
//
// .event
//   flexbox(flex)
//   align-items(center)
//   border 1px solid white
//   padding 20px
// 
//   .box
//     flexbox(flex)
//     align-items(center)
//     padding 20px
//
//     p
//       margin-bottom 0
