// Global Variables
primary_font_name = Roboto Slab
secondary_font_name = Metropolis


 @font-face
   font-family secondary_font_name
   font-weight 400
   font-style normal
   src url('../fonts/Metropolis-Regular.eot')
   src url('../fonts/Metropolis-Regular.eot#iefix') format('embedded-opentype')
   src url('../fonts/Metropolis-Regular.woff') format('woff')
   src url('../fonts/Metropolis-Regular.ttf') format('truetype')
   src url('../fonts/Metropolis-Regular.woff2') format('woff2')

 @font-face
   font-family secondary_font_name
   font-weight 600
   font-style normal
   src url('../fonts/Metropolis-SemiBold.eot')
   src url('../fonts/Metropolis-SemiBold.eot#iefix') format('embedded-opentype')
   src url('../fonts/Metropolis-SemiBold.woff') format('woff')
   src url('../fonts/Metropolis-SemiBold.ttf') format('truetype')
   src url('../fonts/Metropolis-SemiBold.woff2') format('woff2')

 @font-face
   font-family secondary_font_name
   font-weight 700
   font-style normal
   src url('../fonts/Metropolis-Bold.eot')
   src url('../fonts/Metropolis-Bold.eot#iefix') format('embedded-opentype')
   src url('../fonts/Metropolis-Bold.woff') format('woff')
   src url('../fonts/Metropolis-Bold.ttf') format('truetype')
   src url('../fonts/Metropolis-Bold.woff2') format('woff2')
