.planks-container
  flexbox(flex)
  justify-content space-around
  flex-wrap wrap
  padding 30px

.plank-container
  flexbox(flex)
  flex-direction(column)
  width 315px

  .plank-header-container
    border-radius 50%
    width 285px
    height 285px
    padding 30px
    color white
    flexbox(flex)
    justify-content center
    align-items(center)
    flex-direction(column)
    text-align center

    .lets
      font-size 32px
      font-family 'Montserrat'
      text-transform uppercase
      font-weight lighter

    .plank-header
      font-family 'Roboto Condensed'
      font-weight bold
      text-transform uppercase
      font-size 32px

  .plank-intro
    padding 15px
