.mobile
  .news-section-container
    flex-direction(column)
    justify-content(space-between)

.news-section-container
  flexbox(flex)
  justify-content(space-around)

  iframe
    max-height 800px

  .banner-header
    padding-left 10px

    h1
      font-size 25px

.news-container
  width 40%

.mobile
  .news-container
    width 100%
    margin-top 50px

.articles
  .article
    flexbox(flex)
    padding 10px
    cursor pointer

    .thumbnail
      min-width 100px
      max-width 100px
      height 100px
      background-size contain
      background-repeat no-repeat
      margin-right 30px

    .article-preview

      .headline
        font-family "Roboto Condensed"
        font-size 25px

      .description
        font-family Georgia

.mobile
  .thumbnail
    float left
