@require fonts
// Hero Container //
#platform-hero-wrapper
  width 100%
  max-width 100%
  background-color #3C2D82

#platform-hero-container
  flexbox(flex)
  flex-direction(row)
  justify-content(center)
  align-items(center)
  padding 0 10%
  max-width 1440px
  margin 0 auto
  // Stuff

  #hero-text-container
    flexbox(flex)
    flex-direction(column)
    justify-content(center)
    margin 5em 0
    padding 0 20%
    width 100%
    // Stuff

    #hero-header-container
      flexbox(flex)
      align-items(center)
      justify-content(center)

      #hero-header-text
        font-size 64px
        color #ffffff
        font-family primary_font_name
        text-align center


    #hero-divider-container
      flexbox(flex)
      flex-direction(row)
      justify-content(center)
      align-items(center)

      #hero-divider-left-container
        flexbox(flex)
        align-items(center)
        justify-content(center)
        width 100%

        #hero-divider-left
          color #ffffff
          margin-left 0
          margin-right 0
          width 100%

      #hero-divider-star-container
        flexbox(flex)
        align-items(center)
        justify-content(center)
        margin 0em 12px

        #hero-divider-star
          color #ffffff
          font-size 30px


      #hero-divider-right-container
        flexbox(flex)
        align-items(center)
        justify-content(center)
        width 100%

        #hero-divider-right
          color #ffffff
          margin-left 0
          margin-right 0
          width 100%

    #hero-subheader-container
      flexbox(flex)
      align-items(center)
      justify-content(center)

      #hero-subheader-text
        font-size 20px
        color #FFFFFF
        font-family secondary_font_name
        text-align center

#platform-table-of-contents-wrapper
  width 100%
  max-width 100%
  background-color rgba(237,237,237,0.71)

#platform-table-of-contents-container
  flexbox(flex)
  justify-content(center)
  flex-wrap(wrap)
  padding 4em 10%
  max-width 1440px
  margin 0 auto

  #table-of-contents
    flexbox(flex)
    justify-content(flex-left)
    flex-wrap(wrap)

    .chapter
      flexbox(flex)
      flex-direction(column)
      justify-content(space-between)
      width 33.3%
      font-size 20px
      font-family primary_font_name // Fixed
      text-align center
      font-weight bold
      color #3C2D82


#platform-issues-container
  flexbox(flex)
  flex-direction(column)
  padding 0 10%
  mad-width 1440px
  margin-left auto
  margin-right auto

  .issue-container
    flexbox(flex)
    flex-direction(row)
    justify-content(flex-start)
    padding 4em 0

    .icon-container
      flex-shrink(0)
      flexbox(flex)
      justify-content(flex-start)
      align-items(stretch)
      border-radius 50%
      width 200px
      height 200px
      padding 8px
      background #fff
      border 15px solid #3C2D82
      //margin-right 65px

      .issue-icon
        // Stuff

      .issue-number
        font-size 64px
        font-family secondary_font_name
        font-weight 700
        color #3C2D82
        // text-align center
        // vertical-align middle


    .text-container
      flex-shrink(1)
      flexbox(flex)
      flex-direction(column)
      justify-content(flex-start)
      align-items(flex-start)
      margin-left 130px

      .header-container
        flexbox(flex)
        justify-content(flex-start)
        margin-bottom 1.5em

        .issue-header
          font-size 40px
          color #3C2D82

      .contents-container
        flexbox(flex)
        justify-content(flex-start)
        margin-top 1.5em

        .issue-content
          font-size 20px


// .platform-header-container
//   color white
//
//   p
//     margin 0
//
//   .top-container
//     flexbox(flex)
//     margin-bottom 50px
//
//     .name-header
//       margin-right 30px
//
//     img
//       height 250px
//       width 250px
//       border-radius 50%
//       border 10px solid white
//
//   .tabs
//     margin 0
//     padding-top 20px
//
//     .nav-item
//       background-color transparent
//       color #939393 !important
//       border none !important
//
//   .platform-header
//     color white
//     font-family 'Montserrat'
//     text-transform uppercase
//     font-weight bold
//
// .platform-header-container
//   width 100%
//
// #platform-prompt
//   margin-bottom 20px
//
// #platform-summary
//   background-color rgba(237,237,237,0.71)
//   color #3C2D82
//   width 100%
//   padding 60px 10% !important
//
//   ul
//     display inline-block
//     font-size 24px
//     font-weight bold
//     line-height 45px
//     text-align center
//     margin-right 35px
//     width 30%
//     vertical-align top
//
//     ^[-1]
//       margin-right 0px
//
//   li
//     list-style-type none
//
//
// .main-container
//   flexbox(flex)
//   justify-content(flex)
//   align-items(center)
//   flex-direction(column)
//
//   #name-separator
//     width 350px
//     margin-top 10px
//     margin-bottom 10px
//     flexbox(flex)
//     justify-content(space-between)
//
//     .half
//       width 45%
//       margin-bottom 15px
//
//     .star
//       font-size 22px
//
// .platform-page
//   flexbox(flex)
//   flex-direction(column)
//   align-items(center)
//   width 100%
//
//   .section
//     max-width 1100px
//     font-size 20px
//     padding 30px
//
// .issue-header
//   color white
//   font-family 'Roboto Condensed'
//   padding 20px
//   margin-top 50px
//   margin-bottom 50px
//   align-self(flex-start)
