/*

.volunteer-form
  color white
  padding 20px
  min-width 580px

  h2
    text-align center

  .form-container
    flexbox(flex)
    width 100%
    padding 10px

    .info-fields
      width 300px
      margin-left 30px

      .form-row
        margin-top 10px
        margin-bottom 10px

    .volunteer-options
      flexbox(flex)
      flex-direction(column)
      width 300px
      border-right 1px solid white

      input[type='checkbox'] {
        width:15px;
        height:15px;
        border-radius:5px;
        border:2px solid #555;
      }

      .option
        width 40%
        text-transform uppercase
        font-weight bold

      .checkbox-row
        flexbox(flex)
        justify-content space-around
        height 50%

.mobile
  .volunteer-form
    min-width auto
    width 100%

  .form-container
    flex-direction(column)

    .info-fields
      width auto
      margin-left 0px

    .volunteer-options
      border none
      width auto
*/
