.volunteer-form
  color white
  padding 20px

  h2
    text-align center

  .form-container
    display flex
    width 100%
    padding 20px

    .info-fields
      width 300px
      margin-left 30px

      .form-row
        margin-top 10px
        margin-bottom 10px

    .volunteer-options
      display flex
      flex-direction column
      min-width 300px
      border-right 1px solid white

      .option
        width 40%
        text-transform uppercase
        font-weight bold
        font-size larger

      .checkbox-row
        display flex
        justify-content space-around
        height 50%
