.banner-header
  padding 10px
  padding-left 50px
  color white
  text-transform uppercase

  h1
    margin-bottom 0
    font-family 'Roboto Condensed'
    font-weight bold

.vote-actions-container
  margin-top 50px
  margin-bottom 50px
  flexbox(flex)
  justify-content space-around

  .vote-action
    flexbox(flex)
    flex-direction(column)
    text-decoration none

    img
      height 200px
