<div style="display: flex;">
  <div style="
    width: 66%; min-height: 50vh;
    background-image: url(<%= URI.encode(@action_shot["imgix_url"]) %>);
    margin-right: 10px; background-size: cover;">
  </div>
  <div style="
    background-color: <%= @primary_color %>; margin-left: 10px; color: white;
    width: 40%; font-weight: bold; font-size: 60px;
    font-family: 'Roboto Condensed';
    padding: 20px;
  ">
    <%= @quote %>
  </div>
</div>
