<h1 name="issues" style="color: <%=@primary_color %>"> <%= @issues_header %></h1>
<p style="display: inline;">
  <%= raw(@issues_paragraph |> String.replace("<p>", "") |> String.replace("</p>", "")) %>
</p>
<a href="https://justicedemocrats.com/platform" class="more-about" style="color: <%= @highlight_color %>; ">
  Read My Full Platform Here
</a>
