<div id="why-support-text">
  <div id="why-support-header">
    <h1 id="why-support-header-text"><%= @why_support_header %></h1>
  </div>
  <div id="why-support-body">
    <%= raw(@why_support_body) %>
  </div>
  <div id="why-support-learn-more">
    <div id="why-support-cta">
      Learn More about Alexandria
    </div>
  </div>
</div>
<div id="why-support-image">
</div>
