<%= render "nav-bar.html", assigns %>
<div id='press-container'>
    <iframe id=google_press_document
      frameBorder="0"
      src="https://docs.google.com/document/d/e/2PACX-1vQ0S-8H9jODogbdtg12lOOnDYaAEQ09C6Omytz5LLYUp5ZC-T_VWT5HwCfsGq6n6jXp8zMa7DhJX9cA/pub"
    >
    </iframe>
</div>
<%= render "footer.html", assigns %>
