<iframe
  frameBorder="0"
  style="width: 100%; height: 100%;"
  src="https://docs.google.com/document/u/1/d/e/2PACX-1vQ0S-8H9jODogbdtg12lOOnDYaAEQ09C6Omytz5LLYUp5ZC-T_VWT5HwCfsGq6n6jXp8zMa7DhJX9cA/pub?embedded=true"
>
</iframe>
<style>
html, body, main {
  height: 100%;
}
</style>