<%= render "nav-bar.html", assigns %>
<div id='press-container'>
    <iframe id=google_press_document
      frameBorder="0"
      src="https://docs.google.com/document/d/e/2PACX-1vSwhmWviT7fbjm1AjWK_4ooDw_It-pAhp8M140hrE_Mqw_RmnTU2YJCDlJK5h4R0opAaShPk5TkK7Wv/pub"
    >
    </iframe>
</div>
<%= render "footer.html", assigns %>
