<svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 800 720"
	 style="enable-background:new 0 0 800 720; width: 100%;" xml:space="preserve" >
<style type="text/css">
	.st0{
		stroke:<%= @primary_color %>;
		stroke-width:6;stroke-linecap:round;stroke-linejoin:round;
	}
</style>
<switch>
	<foreignObject requiredExtensions="&ns_ai;" x="0" y="0" width="1" height="1">
		<i:pgfRef  xlink:href="#adobe_illustrator_pgf">
		</i:pgfRef>
	</foreignObject>
	<g i:extraneous="self">
		<path fill="<%= if @filled, do: @primary_color, else: ~s(none) %>"
		class="st0" d="M689.5,537.6c-9.1-16.2-18.6-28.4-28.6-36.5l-79.4-67.3c-52-43.9-104-88-156-132.4
			c-26.7-22.4-52-42.7-75.9-60.8c-10-9.1-15-19.8-15-32.2c0-1.9,0.2-8.2,0.7-19c0.5-10.7,0.7-20.6,0.7-29.7c0-42-0.4-73.3-1.1-94.1
			c-0.7-20.8-1.1-41.6-1.1-62.6H98.4c0,8.1,1.4,18.2,4.3,30.4c2.9,12.2,3.8,19.7,2.9,22.5c-3.3,14.3-7.4,27.4-12.2,39.4
			c-6.7,16.2-10,24.6-10,25c0,3.3,7.4,15.5,22.2,36.5c3.8,5.7,7.2,17.5,10,35.4c2.9,17.9,4.3,30.9,4.3,39
			c10.5,14.3,21,28.4,31.5,42.2c8.1,11.4,11.2,22.4,9.3,32.9c13.3,3.3,24.6,18.1,33.6,44.4c7.6,21.9,10.7,35.1,9.3,39.4
			c5.2,0,9.5,10.9,12.9,32.6c3.3,21.7,15.3,32.6,35.8,32.6c1,10.5,14.1,29.1,39.4,55.8c10.5,11,15.7,22.2,15.7,33.6
			c0,7.2-1.7,14.3-5,21.5c10.5,5.2,18.7,8.7,24.7,10.4c6,1.7,12,2.5,18.2,2.5c2.4,0,5.6-0.2,9.7-0.7c4-0.5,7-0.7,8.9-0.7
			c4.8,0,9.7,0.8,14.7,2.5c5,1.7,9.8,5.8,14.3,12.5c4.5,6.7,8,10.5,10.4,11.4c5.2,2.9,10.7,4.3,16.5,4.3c3.8,0,8.3-0.5,13.6-1.4
			c3.8,0,6.8,1.3,8.9,3.9c2.1,2.6,4.4,8.4,6.8,17.5c11.9-1.4,27.2,5.7,45.8,21.4c6.2,5.2,14.3,13.3,24.3,24.3
			c5.2,9.5,8.2,19.1,8.9,28.6c0.7,9.5,3.7,14.3,8.9,14.3c4.3,0,13.6-1.4,27.9-4.3c33.9-7.1,72.7-15,116.6-23.5
			c13.8-5.2,19.8-12.6,17.9-22.1c-6.2,0-10.1-0.8-11.8-2.5c-1.7-1.7-2.5-3.5-2.5-5.4c0-1.4,1.5-6.3,4.7-14.7
			c3.1-8.4,5.6-16.8,7.5-25.4c0.5-3.3-0.5-6.8-2.9-10.4c-2.4-3.6-3.1-7.5-2.1-11.8c1-4.3,4.5-8.7,10.7-13.2
			c6.2-4.5,10.7-10.4,13.6-17.5C706.2,560.9,697.1,551.4,689.5,537.6z"/>
	</g>
</switch>
<i:pgf  id="adobe_illustrator_pgf">
	<![CDATA[
	eJzVvediMrnSIPzdAPcAtrHBQNM54EjGOeCcMKFt8xgDJkzYH3vtW1Ln3A3Mt+/OnPGBblEllSpL
JSUTl81csTfqyDmGIOOxZLI8kduz0aQQx0/jR4PBfDqboEep63ScEggSGhWPxJba8E6eTPujYSFO
UwSFX9bQr1PHzXZb7qXjqTQ8uunPBjI8LBdbzVl7Jrcu5rNBfygT078+0xpSgFKBd4U4ReXhXyFO
kQWOjxfPUIP28K/2dNr/X+g1z4gMPCuN5sNef/hZGv1TiItknIwLNPqPgneN/rU8tTUgGJbjWZoU
JZFlxDhJkCRJSSIDzzhBpJi4QEkEz7E8z5AiJ0ETgIcb0TQpkAyFkFZG3fmPPJxdTkZdeTotjwaj
ybQQL//bHsbP2p/wph1/lAeD0d/x0qDd/Y4BrbhWrT+QgSw/7VmcYhCRikcU3SrN+4Pe+fynIwPB
GJpHj5kWBnk7BVgAFn1Gj4XW0Q88acqzGQwIECJCl88eT8z9ANKo/6aer+XPPp43oOprWoU8GY1/
2pNv9HP4VyQxxZR3N/LPeADUx7RiJIng4gxPor/GZ7UljAW3omn4eVyAKeJZUXlnUEf+qy//XYif
j4ayQoLiZNZUpo9lATH+q7y5ng/kye2wP1OGVTySFBqcjXryANDov68N2p9q3wGA8VdpcNOefMoz
mPbRYD7DHClqGIDGp+1/ZTRRFKa90CoBfYaAZziD7rb6H62/FD5ufc4KiPWUflyM5eHN6A4PJUdL
fFwQRERgRhLiokTGaV7pBSXFWUbvGGX8VbEVBzN5MkSMr2JcLfjqsNdS5VDumVFwGAVCoI1fAL65
BE66mPSBAAWGFuO0KCosVp/0ewaHwdyKyh9MZAKoif6BztCkREthn0j4H4GnOJFi6TBPFNrAZM9g
GNqM0a3ymYn7SeKsCSOBgZdHP4jjpkghoDkFgRiMPpV3+mf8Bn4+HytUUWYfmPNy0h8imLFz/EZs
XQ7m8Ko+Gc3HR8OPUSylqME7uQu6Dvi3F7/o/IEvoNiwRMZvJu0uAIDvehui3R+nfcHB4CZyXHkJ
v8Rftf8P/nVF/gBdYvxceVod/iUPRmMTWKVdMLzLQXvYnsTxcx3caf8veNMG8hgAUUN59hACIvDa
GMiBYeAmNug+DUyvghGdghGxA8DP2pPZ36PJt47QZMeI9jgAavNbnnW/7HDVp0tBvmzPvsAwyMPe
VAegfDWojCivPAsef7k9GPQ/J+3xV78bL03m06/4zWg00GG7vNfxmN/hV+iXwSibXSSYEzds1lc6
IvXx/zAcl/gHw4uhMidOTGoDOyYwRMpv/ofi0n/jhgde/r+Co/nvT2c06E9/jKk3PbkEMex3B3Lz
3+lMDqPjVAJXe30QVA+l5Num+XcbxP+03/EVSzTIj/6wBxzanPdnsiGJo58x8kfjza/2WMYj0Fo2
dYAcNuUmu5TLBRksxejhbiiWSRuxMgVnoNo/oTMXE0CU9n8X99Upefg7B/3nfJ1PxwmlM8jmmruy
4iF5abtYyqtr8Ap5LzQLwQSJ/0P/0oovtdJuS8ob5ObO/h3I01j+ZDj6e4i/xAux1DNY4/Z8MHtN
x/Pn7R85no3lm31wumWtCRm/iJGql/cNn65jmsd3EtP8XTL+8C98OYYPf+DR3zCk+Fn8+ZWM9+Dx
w3UMOYYPvVhesdw7sXge8ML/4x7CkIz+BQ7ysj0Ah0vGvbjsxLxiC9SnacwRcVx2Y5clHYkGKwoJ
TwGcmW6OMeAGi8wVRSqvFIWCwPx/6mMAZHvoAVztqxbwQODajiVbee07TCf61u8iarQn/yrfi5NJ
+1/XV1Q8fy23B6AVihBlZ+EJ0pmdUXvSi1PAMRAedSEcas6gE5/xFGIgpZkS9OIfX46gg9fy4GZ0
rXj38BoAjqZ9hAm/pZQfCYIEgZvI0KYf4sY4FFN+rLQUscSEBU9rfcofAQlSlf4UYsp/z9rIW8oq
oyyBvILrPNVGp86uMaAd9a8+fkw0K2AUyBYncruIvUT9nQIb5pGK97R5+B6Out+j+Sz+qahxW1Mp
PgZtPIlP+z/zAWZdX2h9CC4hiot3kHuGvX7UmKNZCKOUriGQbW3muiiMBW3TGcxlnQIezUKC+pzI
stpH2tQO5G44HUP0MOz+C236vTjKlSjtXHhNGdt0PJrZhtsG86ryiAa+N+4TtlY/7ak6owyvMe64
3eupY1B/CF2epPXZPIoX57NR/LoN9nqi9y31fCb3+vOfuBG3vzrZHU+CLlo4jour8SHM3eVEnsqz
uMFCFEdqvUK0OZPBTmh48RybsKnDIC2/uJjPxsAy/r8hdfI7O3faHn7OUXR4ORprXJd/ODs9h0G5
yj9Q6J+fwRBe52BYk35nPpPViTBrjf8YxArgm1p1v/qD3sTOrdpb9Gf271jjg83htPVXezLdgdnX
pt3c9K+2LkP4+dSj3dCkSLSG2f/nqTMcDeUQhBmArkM512DKaC1XxJiLjqvTx2qUCjE2YA6QLUXI
g8dnbr2i6V+SEpQvJUKNv98GuxOG8QNn9f+yoHfn09no578S9f+XtFjhr9CDQ03Ds/J/x4eFaRtF
LcjjBRELy47/uVxAX/4HdeX/Oll+5Fm7B1O0bD+kJfuxrvnOYfjc1Bg7kqIkanQwZYXRMkXrVP6Y
lXQ0DC3wgkfL2mA0mlxrxo42fEN7wwZK3o+GDbn/+TXTPEmvxmV5MCiP5npXPaFi9Bfjdrc/M6IY
PbYg4x+6HztS1kTjEESPvjWRTinLqibqfRePavPBQPM41XUfeOuEzpugtyF4jYN7355qLq/f0Jq6
hx7U25n8TyAN0GRZSMB60vUaEb/W7srF4ecgxOzi9nUjKPLuBG5p6UUg1xgMxol4JRj9Q1OcZ+/R
QKv/zHQOJv16bUDnOY7h/Joa7OvR6kYXSZSisUX19sbNbnsQbVy4E+aBsaInndFqIzAqBP+z9rCr
4hEpiY6LLOvIODj6Nmvr6QR/GqIVY4N8PmrCIB5PU6xPQxMbeTMoamjjT5YTBS+4mI9MgAP0xMfH
VNbEKSgVMNHGZWYfl5ZUhJam9EJgW0tWw5QtwfH45C85fgOqASfT253+QJc6vH1Dh6upMWWDR9Mz
aQHWQc+1wZt89Z/xaDJD1rY4BZJNT+R//dkFzRtev7zrT/tKf/BWFP9f4Vnx/pnIC7RFfjCfB7A4
Fqa79rA//QI5CcHppqzc0bAn/1PrT6aziHKFkeKBlEYzcL5NaAWJowhlCV4SJZqJiwwlBMHTyYms
hVkzhO6RDsHRobB0aMrd0bBnQitIUQhxMxqbqSBQOhUEkQ03lWgMbjMZujc6EaydoTyM7lgTrdFf
8mSMEtKqNRdZRmdEihTEUHNokMI+iWihRM9umTswwSmx3F94q0O80x4YKt6rz91Bfww6A8UM/4Am
+gShnmrznONIMrCXMkrM/iVjUYwkNvrwXGU3pVm+uPbB5GQ17+rYkJVG/zw8av4pdLQ7mvTknlND
xfPno5nltSWlSNHx4pGyWQGtjraHPUU52nOKmrd7CmTW8t9HFSd9MbgyImxZJey1mbBGlllpeWHj
Fmt2u3rZjKv78XCvnG0UII4mHslbS9YWAfdJ1Vq9VZQkRm5qEbmpenpd4GzDUfKyeWW/TbzkxYTW
kTXNXrWzmS8x3QlhgWgdCIIYMBIFrf9QrG3tsxhMftxdv0S5eSFkODK0Srw/xCKLFnfckupqj+qT
dq+Pst6IoZU0u19iXf1VKDFQ+uXwDodt+xqOo8nX6O9Gv+fkr2b7L/lsPpj1YYo12XJOHk0aufzL
/j/yAOB/4P1eIWRe00R5IzGT/zPqEOAxDQy941zfsLfXXK1Je/hp4wZ7Uzxd7cEg7duBiYy2N8oj
vNBvi9wdENGeAAOxF8jpd3/cAXb9Dte/tpXiO7qviLjteNRBuyfiiLoLE3o8nhBKYlEVNtqtVXfS
IyDOR/t0nUs5loaDCaHLQwdt5fVpC0BnYF80OfeCB+4KQJyhdbepP7QPUEdfo8n/sgUNlvF+/nwT
4P/KvdHHBzEbjX3aKqP+JP4K0eYrqA0MYdAea7Ao0rPlFMWZJpyuI512x4PuvyFhfXkzG5r+nrKY
7I0Q02xi2qgQSiSns4HKWeNxT9O9pu0cPj9Fki9jTrbYPPeOIcnrgxyE1hPDYJg4WOu0Jz78prSb
aAzkRlxEAZW4WB40LRKCcECyH7SR2+hrmB8pSIZmS+XbKW1e3Nop7NMdTmfebT6GM6I3QB1Vg19P
icMb6JHEDcB1D91YF88QbSdG/jGE4FtbewxsPPkYDf10Dmo2nXc0EjFubDKFIf8lD3xEcEp0+khl
+/DalBjKn23Ltg23RqApZ3jN06fNgEIuSttP3BGgHxQ0Tc2+hQtJpwQKWIbQ0OG32NpNv9pgRDW3
T/fozK3+GROWyMija+CLuSB1gzaZeMQJtnaafcGOqcltc2v7GRYmWCLvYRhIZ+bIwa3daNyb+zZA
Geq2xV/2hDSNtH3E9nNDq9Du8KfzMeaZv7/A+zWpRSc/gIumcA5ysKc+8oV73R15N1AgzYdddWDT
63opflQt85TE8zmacNkEZtFxP6AzRx/9gY++hDaGgnMbOjRAalcPrN19RNxTs6PlgUvLVXR//v0O
pfgx4PZwOPLhIxPc0exLnvgImK4lQ6tSQ6OTBM15tgebg+K/v/u92VfAhMpDlKG07Yuy26axuoVO
NRAU7YoZ3BsTRkr0atRHVSmGvRE4T3BKyw7OvqkTBE4NjKwX7/wbr0xAR0/8ZwxBMaSJk1h/VEGG
rYuafo1MOXAvR9rgY0HyHN+XHITP5M36zCTytHrytP85DAgZjHhn2unPfto+ehMPFW/aCzefBmsG
CJHizGHpNLRBmN9A52eoSjNAoiwc7dlqirbnhiCUSWN5c4RV0LzYxjTZbrpNR9lBm/CngTiDuBDB
UybZbkdDKBqzzIVwCM3NXf0uC/D5VK6MuiX01TXYLmo/NIXb1uQOThsF53a0rjTv6jVw15rgPioF
erakCrzH2/dRBDQdtx2pOvR+PhudgL/v/OWDXYrgWeWm4myoFbA6gV9+frh22FgzZYwXeGO58YY2
3lSHID/66EywLidytz91Jq9wp/5RC19ce3A66rZd6Vn96cg9JTeoTaEjB2Ls6bduQkdTrWxOR9i1
d7E8em5+gvIqxWb56EjkKjJSDQhqZp97FzIHd508mc+c5TIHXzMGfaLZ3asCo7+40j/hFzvMwc2s
VPmQ6t+N9eu9duWDfNzX39KZvWv+K5FmGnuJXH7rOpZMZPa/dxPp8ycpkf3qw6v3DyKRmReaiezZ
QyWRI89oMr/3mMLouUQ5fcVO6ekZdK7yzR5cvO8zJZER+Sf+52k3914bCfcM2TPeko2WXI4lJ5P9
vU4xOz4/PjyRpvtiY/eeqI2e2Lvq5OWJrDzVHm9qe8W9LrVdFIYqFmYj2tCAYsrgJg==
	]]>
	<![CDATA[
	EzaRvXs7SuTEnJjIdIkmGpWInlUT2VaPS6T734NEelbqo6GlzUNjs9dknm1e65iVgatjeU8OYknU
cqzOxt4jq5C1NJqeK5/UH55OoRsVQPDwLdiboG5OXtrPLMGcivPMfj2xaRCVyE/FeixJzx/fO/Cg
PiB7m48VM9id6cPkNV05Qx21dA9IDb/NPLFrdGEbfkZhUl6YkL7e8hUDaSxpQ8tdMd8TL6Tvk9ff
2a0H0nKHv27naDekMPtT8Z7yGmuDlZLFb3eku2ub062N0dgN6WT+TmykOhvXLxipMi8mtGSNPNj1
QMqvb4g7H5I7UvbxhazdlK7ckMaS07XauJC86J9du42VrK+PTj2Rbh2fsmde5L2dvHTpY4Q0DZzs
IPDaPZPkZlvwQ3bkmNXCxr6K9HJryzan7I1QH2CkIFydqoEUSeXO9HXyetfBPJ92Ii20uNveZ94V
6Vvu5twTqZD/aG5hpLGkDS3MKojotJCZuiO9FN7Yh6/TrBvS6db+I+WGNJYEtNxXeqsk193Gimb1
kaxJ5Lkr0rXap7Bx/UNfuCEla6+vNYwU6WT7WPn15PfwrOyFtE3Ws+937kjrZHFLTgmPNqSqHpvM
1rMH6lgfcymb0Bycs3svCtLqy3fNgvRplzwVchRCuu1A2pBHWFJjSUArjO1jPX1+ansg5deF717t
zQtphTzbfpVsSAGLgvbot3D4Z3J+7Yq0ubPFeCI9kZsM6YH0OUc2W+k1wOI61pOGfP78lE65Ir3b
Gn56Im1+Xana10CKsKho6+TdyXjXHekpk7ytHe7uuSMdH695Ir1r1ddm2O67jvWCvD84qbgjPduv
tt6uXl9dkb5efB/ZkGIsKto/j1yv5oH0RSRfp4OcO9LzP+OfC0lkXJG2jnKgkz3HOkk2MwkPpI+3
ZLX/c+yKVDzPrSUOX3NVQFr4xUjBihlaad4SWirSDpO2CU366bS9jZHSW/uphnWkp+T7dqGIkGYd
lqb15zeW3KSOWzeAdm9iV4XT0eaeinR2kLGNNAGGPq0gLT1SR1ZFmJ1Mb/cTCCmBkcJYzFrpKKeN
tTyzIc3sNNZ4BekBdZKzIOW+smP2/B0jZTYK5RMr0g2k+dudIUJL2sc6KcojjX+PE3b9y/0plFSk
hSvCRt61kfx+o5g3ud3ibd4F17jdfBsVjPe2t49X1M+d19sv5HvN3d6qmh9Ub2XT49cwB5uZclJ9
+0cWbG95kWpp/Z5+i/a3w6+1h1jS871weVR48Xwr0tvX795vv9pvW8ZbG8X49SK9+dT1/PVpZnhA
e7/tXHzsuL3FFOPXL9a6nYbHr8XGZmP3dqq8/dj6lWywbzP9nT/qW2qtYH/bOW4ONYq5vL+rZDQv
0+XtfbKTT3i/fakU9oy3Doq9J9+EDc9f/5ldjhueb7/v6NKV21uVYj/ftf03r1/DcK92OM+3xzS7
/+D5tjvsNE+9KbaZ2Dx62fZ8Wy2edWTPt8f0wRrlTbFigt5IFzx+zTXI6t62NuZCasf2NnNzNT1Q
35aJXbtUNm7e69tFt/dYZrc3DjR32O3twdPhhfkthGamyLCc2y4jH2bruWwEZ+bQrNbifEIzeraB
It9yIncsPULk++cG/SHQs1oiW7kuoz/3oOqkDeSNq8GgomFUfO3rkqY3J2v01t5lTrUGVNJsIfbX
GSTixz9KsAOhmUma8mficAvCyIc50skQ7gDGj10d33q+v9dJg25bq6JwJ2dR1makmV3688oDKb++
fjsePJvtvoEWmdsnT6Rggv5QnkjJ2sd50w2pKi/IYHbdxoqQ9sxI2eaGCal4XmqakPY2N9cNpNP1
L/naZPcZG4H3fzd+njWk9YEFafrREymQd492Q6p64zh20MfK2AiMYoc3D6SPr94jXatNWYvdt44V
xw6eSFHs8OWOdDdBuCHFsRhGe7rlSWDskXgiRf7IjWVOZUlDjz+psw/OVvmp9+PfUmn3Nv8ZBrbj
13/fqg8XZg3j0ZL7UvlO1RclGPNLMWPKSBmC+576sWZ7QP3X5hOsXIAszUNVJxs/zPfXC1njz/44
1btRQ32crwKi7o/Tu2NT/ggB2JcaG39wH/al+nMF1Fa7ijAzWsRn6sB+Nan+yZ6NVATYgdYQGL2B
oe2NlSaWTBlWeqX8l1xJ6n+urZGFmvK60JtXEJa6ebjvxwdal28v4esmCubm2xp1FJ/flqi7wjHy
pomENsqTx1wyif8glrwP6tK3dOTWpVhS7VRrvgWse5altw7IIyNjY0tUYqLTr/PSiUF0d5KjP2rX
2ZGSU7KPEOUAEiHGh/8Ezl8TotfgGVzXx7ftOT7k+N56zh+KxMPNIJq/kY1DA4mlgkLehRMYtV36
UwsCFobZd3K63V+as+ovv/50j4WnPLhGTwtKjlX2gVh06Uk6XpBYVtWTNlSPavehP29V69Qyi85G
9eVoYiYgwNMicQvrbmLl40G7t6pOXo/eZKtZ5Y9KOy3T6+Tax5xVKs1q210qcS7PdWiPNqnUZyPK
0JiDu5szf0KjeamfbKJ+X3t0pZIJMyr5kthUZ9/B7FWM5W609IBQKPhg6oMuhFYN857ehO49VDym
KTum2htbjSAO9CALwqIShvQkTP5rlNnTeEfnZJwQcqcxZQOl52HCAbPK3bbT5LdrblKHM4pR5a69
9jD3ncl1KntLZdGfZ3Us6mqDgzFAM6aqJ54Tqk0n+gPTaSSxnbzRrgEWmxY0A7u40jtl6hmMZVZ3
7dd+vTN1GyRwMrw/JOXZbd7hhflMScY5Jb26p42LJT2VjztPf4tTT4fA02PUbaVlfsGbeZ75Gib7
/HrNbh1RpGH1YG2GKbT31Ktb9bTdLMUU1jUMr0+nZgfHHl26uFZ749Elc+5C6ZS3S6dPXaj5kzZs
Pr/DsfD3+S3zN/R36JT5g1gszAzWL3+WYQaTRUbAmsNVcZbFnCh6bAlgj/5BTDSKBfh10SjWmqyM
YmaNtgDFxpaNCMLEEbjO9u1KyGzFonjHjSih4LWHHis9fCXCBjbuUjk7WFuZVJYefjdCBMqKz3+d
Ma3mulDngDo5DUsdt97EknTpcW1zSersT3Wz7KmTDZ/C3TVsBCuFgI4gLNCV8CGed0d8tEAsGZYm
Vt8yWkcU76IRLPa2yDDjYTU/Gyh1/WxjFSMWc4sNlUVNI8l9bUCkX6cdwpTOhk9HiOOrvhkSOwJl
q4GDduAJhklqmJQHEg91p4p1Lo+w4xEhHvbu0npQvB9aAbzOkgF5FhOP+SuAoygKwD4+S7wPI9yK
TnR3kls8BVf7YuNaL1/+zxFaELwPMb5YMnAGKzOq+jqth89nOGNyNeID7v9iVkYsh4C75i5CEctF
xD2ZAXOyhVhWEWc2pO+8VcSP7SLuGqRZskseGRLg2rVlcwnHRkrWWLOw9id0UPFzbPXfPTMklqSs
19C2lhmaovmP0a6Gs8B42C+9cUAdz61mmbHaysAEB+4y8MEvveCATJx87LCqC+R9fo7RwvCjjSwu
ViyQMEG5PpsqgHje3bdE1OFDUMekCiyZBqsrfThX9o+ZnWnggzDJxGBX+sRwpb3kJQTtCldJ/94Y
ZlDLW3oZQubgVtgK5ogAM6jIy4ndEC40tLTn0GLJkFrpxBEoR+Bzg5PHJ3bLt9CAElaT55nr81UA
B7dJLroCsOyCVgnTsqfpF/JlgTa6ofPl5HC+LFqs2jLv3kCjgmdpW8S3qNyVoTdEmIy3FvG5j/qh
aV+CXMzaYW8cgK0q34pAOUUvqk5GQhNikcLGqdbd6dq8eRq9sByPoRhhpLa7Y0E4LhLoBkXxYH3g
LLFSYUCBeD+y5fMEZl0f9PQuQq1UoHKCbMrqb5bxFldPyVFXRUPmvcp462p0c+MaVyJgNBFxjc+T
lH/kbZSH8SCmxzK3r0abfqcdGm36nYkF2O6wGg0Ic/gbMC/B3tzD7TIazZaBB2Ar02i3hkZb3FNC
eemwGs1X9mHeVqDR8OxbU2OLwvHXaLHwcJZfe8VwfNaDsqWUvo6Td5Uc64TZImi8jmxaFDItHbp7
KepGL20XIkQ8jtw4emZdgF14zxVaBA+lhJBnhrxxd5e1DHJ+4a8ZQytZ4LHqy11iaa9e69fjmvfa
a8ig8eFuwVjaOi9o3mzbmhZRCgiKxbE3ZxSjwfHdAmGD4rVTBcNxhtSL9KaQevJd4fV1ye3A/BJZ
bvvH/KwhjC9jt4bwLOcvObHw1rC9du26RSBSxPdwvxr/XgFltYWePBbGGt6HDa1jST8WefmN7t87
9B3MWiy5vDVEcPxtYTgrhuGE9O/9rBiGs7R/j6C42UI93o9mDV9+/cTQYQuVzJWvNWw5V4rRsyib
ANG8eFrDQirkPixjG4b76PEutdbEZ0rMpPTwBcwy9OAm29YYObx0P0TydJV58ZTuh1DSHai2VYqF
EvHg4BJmknCTcq9dah5+DdDzLh+OI4IzvbhTITnCXbisZgntUisTOYdhKhPeXY4UpNGlh97ce+9o
mJ1r1n55rwKgiC+CeOEdKKvbbYuABa/ehFm7QaBiSWZj5+R0BUxcJoRQ+WSvtQHrXLbCePoKKM8Y
+dF3862FI0J1ibatiUfc+KoIrmHP9rmzoWtkocs+rpebfiZyw6uWcohKrsi8ocq5atgaOn06XSvo
8CkBK6ih86+giyVXU0PnQGqpoFO05fI1dP4VdKhacBU1dIqseVXQqZHF0jV0/hV0arXg0jV0rkj1
Cjq3asFFauj8K+i0szuWraHzr6Azat+Wq6Hzr6BDemwVNXR2FWXdD+2+Xhm9hs5pyszbkXGGxKsS
6HKrFhRBm2M27zoghMV/s4ulUz5d8ts/FVNdw1AVU7Wp76Yn7xSTfSWxYvd/A+nk5f0+Vwxbr+1V
WJBOthSTc3u7QqVYcBnezraFYV32me11Uv6lYHiND5Xh/ZHvVsNPbvuw7PFLSD7YyUUan2n9xVns
Zs1ceRE9uEt528rIIkRXuxSUufLrlGfRnAYiuGQO81gww1bt+6ojZ/1wJJ6dhd0M4r8VxDNpbM/0
hkgbV6NvBXGpFX3MrS9d7OayE3KxYrcoW0E8axKz42VSVXp9Wt7H549AGO+tIKYwJBYiNqp6VmiF
jGnG1l0E75RzzaZD/wbxeTid3K5FD3vdp7PDuG6g1DKKkYpM22tn9qpD/8QZnn2v2B6I5bOWHSJx
pqUNNYu8/y2ObWkS+PXtisphlJP0vNyuoDowWxWYp9O1QB3fPMgiRajj6/jXv6xbklbepWlrPnvg
QxxHYenS17pXlw5NNVahCpoC9sBH2EXQq1szmC7uYOj5mxgZTE/fMgKwoBijis/pDQcsqETGr1/W
VVEELCjQCD9II726Aor5l4lGpFjQUQgBFLNVz5QeHnPWrU4Nz+qZsL6sVpuAsr4hhd3VxvtXy+kn
UQSA+F4L6MM7/UahP+9usm3aN95YWbD32bAmdt3OutGDPU8QQerBAcCmYT4b/oejmA==
	]]>
	<![CDATA[
	ZzpCoZy9ZiR4hlpk2IjHS/ZRiVvYJIMXPd1COK+40pscQaWxbmsyLj4/DChQzi3ZAJ+t/AV8pvC1
rcaqMosSZnpX+tjo7sfJAeVH/uVxFq2jnznsVtM2nXna80j+2BEay4ok/s+RTeLd/LFwdAqZ3rE5
2o79yahyLL8aFjCCQr22OlynXLpEh+iSaeewXwVapIyMb4UduyI6Bda9+nXKmpEhnBmZn2PPjIwH
j3lkZI4XzMhYNQx1srGajAyzUSA2w+QuQmRkjlexgwhApFZQMli//Fn6PCWY8+CMTCxMGdrSGRm0
Wi39sqsgjE9xjqPm3W+zCyrSs4pcyC0lmkW21aEe3MxIq7N8ElSH6ucsm0+iYA5uM+tLMsP4xC2l
Y92pEjJqASMTqnRUT+n4WGQYWiG19NCwu2uS/QU4FJWPeWeXjAHFguvqlj43bHyCdt1E2DbrNU0J
/916oXYPIsIsUzpqjpJOfJOggcV19o16l6Z1VJ2T0dPgxYcF6+Gin9e3SD2c51rSSuvhEJZli1GD
6+FC1lksWQ+n11lYKuIWrh7xqIeLWJG6YD2ce7XgquvhgrXlKurhdK9v8VKNEPVwoc8hWaoezmVe
/sjbq66Hs57QrtUOLb2so9axLV9Zj8xb2MUhY7XaK2WJgC27J9LQ/HejUHsigyq+GDdqO1es/NyA
snODxELV6BhOdlm3uWzbzuBTJx4MZyWVXGgvg2fcHOksUuSPoeI674RY1B3PyPPatgmh4o8FTERI
MbzzjKCtJ1AF1jItuEbrklFEwFa1NflxjIVwOW8cUTtMtBjgjZdXchqwUi1YCSjECiM+AMVbfEKf
3VE29jdE743Jgy37Hwkcaee37Uhg97MHIxwxk846c1io9MwSULvUi4XbS4Xyf6EJ6KfHIh8t7FeR
2l5ruZaRLlCR2l7ruCYMolWk3q+mIvXldxUVqQjKKipSUb3YKipSEZzlK1IRFHtFqtcx0MH1W/eO
+NqyYQFpy8BtRlYxzLmI4YN/Xiv8bttlSuHcrNjqS+E852WlpXDGOfBhAvdFS+HcKbbqUriQceWS
pXCx0J1aphTOsSNiwVI4f8fQVFv96Le4Eu1E+LJtg4R9ZSR6XZ1rWGRbsYklQ6zZIGChTury2hNo
OaUZgC2VnjRTzHLEsPdaUvDiAi5hC3O+2rq6XulhHjpTvyWc8MZBOU3r0XHWd9Q9qOYM0JdyZ1zW
fQ+JOgf4gsz9i6/64K7dqqz35tWatHH4VrvZv6we5mdb5drNgfCIrzOvPFUnh8UGf3NcLhHdcrmU
P0GXEDTHmjFKDuw5WDXnZK3G8qk72008e9/cJl4VLq0ZRWux20734sycfjYh5b62k7uJkVex24NP
hd10rdbLmwXEVux2U/KusEOXare9kL77VtjVc5IJqf0+s0JmqiO1F7uhq6b1Ww3NBWDKfXwpv2I3
ivBEmtnd+fGqsOPX13/5+Ytnhd3js1/d2Y9fhd3o5sYNqXYf36n81fOqsJP9agmvHryRVs+f66ZY
zE7gjSGz0/JCeuVgJRBXFT3+pPJ5wWX23VvuhILIvpz6t0NY1HrHS6WlajpPeRdXVBPc2nxgN6d+
Z6kdmnbbhjz2PzN0bJO/3Bz579mIha6jCXWIuylr4neP1a9/p0J3yXqce+Ceq8g3ybl5v4qtXOVN
cm4GUVlHDjh0PSydPLdIRtsPUwlx44jFwfS9923BS+TcQGHWtPgwi/JB4GUjyIdxjtC1UwF3Dfh1
yWT3K1E3U/p0yZY5XkJe6nLANUTGZldzBcRqquncemhfTVi+ms6tls5xZ8rS1XRuCS/tLs7VVdO5
1dKFOnkyUjWd93rlKqvpvLTlaqvplspah66mcws+XDh5yWo6i5Og1tJZZX8V1XRutXRuGma5ajq3
uDm28mo6t1o6fe11ZdV0qmNoqaXTdtuurprOrZbOyMOsqprObXZx1nql1XTuq6KrrqZz61LM1J/V
VNO5zZ/rycZLVdO51dL5e0qLVNO5gYpFBBZcTRdyhXfJajo7KMTxq6KYv08YkWIhqunCU2yZajq3
Wjpl9W2V1XRutXTuN+UtU03nBsBZM7JsNZ2JLPpqiVfNyOLVdG6+c8x+INnS1XRutXQB94ouUE3n
NkM+Z3QvWE1nHq5WSxcurvQkR8jyG++V90Wr6dwGZD/TPlI1nbVLPgGgT0WqNQB0WXH9cxT26KaA
KOko6JrKcLVYQLHX6W+QsJvJH3Rfnbt3ser76kLfmxB4X13YmrVZZsu6D3ZROlVm/o6F80Qdn6vc
rAUKUbuk+fxhrqoLW97pvILWu1I4gE6BHoDtlDOfTnlvpYjWJSQv/vlPN5VpjYgOqOOpLVXObEhj
m9137j8KkwaLcs2dt04+XtnB4D/HdootvB/R95q70LmLpa650+XF76K70GVKXtfcRdufvOg1d7ZT
AtwvuouWdnO55i74pgmPbQqRrrnTbKXvRXf2xaPga+7Cngs3Plk6M8cc3FJJq31ZeAPiSYjKolhI
p3t8ssw+fJWTYXB76aUL6Tx3HkbYa40L6RYrKrJVcSaXroA9cdvCEb0qDd1NV0g9BQmuZROZ1x2p
QJ1QRTDh6okwj61v2SuK0KGp/httQ6331C9/7PHLggViAbvBI+yGAmCh9iKH2g0FwMLs6PbfX441
30oqH6PeManzmB3O0jW1GIpq8ry1ZUg43puoIt2TuIqLJrV7EldaWNu0b5rA9yY0h6s6FRCBcvHv
XOorw1ScQG/DKDPrTROeO/duQpLSHEi6uBBG5iq97YzoUS3e4mcD2KufVlCZYj/32OVchdClDADs
1L8qIsINhvDqMsQicdANfrr/vlzlY9hCBv87hhCcZW/NRVBWcUqAcp2cnxNv7E4PhmMVwyiX0jnv
SfQtZYhcyJBRZ98qhnerEUPbDXeL11dGueFOxeIthiu54U5Zs/C+4y6KGHrfcBex8nHBeiKXm/KW
F0PHDXdL3JQXIZb2vSnPWwwj3nCn3P7jfVJ4ADB79YTHDXdBu25CFtbe+29vCqvHXn6XcXMctW8r
K6x9+bXfArDg7Wuhb0n3r3w8W0FdOkAhlt9zheEExFCxsHCWCp80benYXLNwfbtyXZ7fHsXo9e2F
VNYhhoWUvTLZZV9fKDF8iFTE5JqFs1aEvXk6k6GLmPQbDAsp7+vBIi03IVD2bI6DYmGPNkfAwkil
d97SSrFhiKPjQsWVD2HLmPyKmFoTTzuLsUSrcX2IXsSEa6u9XUOX4xJxqVREx9DrPr4ysfw+O42U
6N631dW4Pnqu2Oj+WPga18foR1N5n3P1uJrrHrWb8lZU41om8p4LOLGkA5hXjatjG4YnRzi65DyD
CHVqBdc9qhkgNA2nAhqLGxE01w9VvDX2birfVLmUP76vrMvHzcpBpnmzN3rP8PCpfqnU9j281Hr0
1v5aRTE8OLFrppj22VKGd35wbUZqqYebrt89XppTVdZ72Arl50dbPZypLsm7DG8yfy9QnkjJGrnt
VfnHr28I1+lXc/RqLdh68S44XKuNGW+k9fWnWxtSrPm1e9iOOsSn1z1saZ/StEvOux5uuiVsTkx7
rRlblWM6dfA88ChNS/veONe2V/7hHao6gU92Lz2Q8utJ9rzy7lUP1/JBWt/gLfJiv+juav3JA6nY
sJRW2pFe25Aq+y50/j2580Zard7WrLO6gd5m9U9qCeZ8ey9va6dQzNmSKZMhIJLv24ViiHZAscJo
VjXMJIz6kbXvWtCXa1xMZ9knfDKdDBZy4yQQlUtbV4MqYbdNhrjFbM+/tMmRIXGp/lF8/krErVXe
XSq77mszndwStrRpGn0vubsP40johtta5Volhex6yJ2QAXRqBmxAC1+VFmJrVdiqtIA9mmH4SQNl
XvIK2NMbVHUXcpeWFln4dMqxTyt6l3AV5+Yo0j4tvy65Z4kXkJeRzy4ttTcuN03Y1FX1ZX/bqq6q
S+eY1egVYB+FWDAMqCvz1M6R7356zAVshXELfz00zArSy29Vw89fOD8W6cA47/xYdRVL1m9VnFn2
PYMoVMXmOMQhtLEQhFk0anHj5ErIoDjMphH7Aqt6h91KjoGurTBGbteiJ4O98vyo4M7Hz4qUCGjX
nHn+qCcPWXMq7K/j1IVvcRJ8e2noQrIHv1POgs+IsJQCBvltrrPrtlOlVw+sbw9bySQljGrBMOcc
eFe3+Z2MGsIbt3TKe7N+iEJAc3YUKPq9saJSTuuaIl7lWbgUMPjSKwWU6ZYZP2D+9xoH9suoSEXA
nDcbLzpIx3rlUsCCanmiUCxg5TIaxQJWLiMN8pR98aSYo1zYM5iNdKOeyb4sUAUYtgbQIpWRqwCd
fXCvAbR445GrAH1WnsPlk0NVAYatAQy8gd0LRKQb9Vx3Q4WuAgxbA+h+Tm/YKsCw9HSzleGrAMPW
AIaIkX2qAMPWAAasvvlXAR4qvXGOyn4pn7JH0VJ48B9cyhfIyQFVW+Eu5Qs6iWI1l/IpGuboP76U
z3Zf0n90KZ/H/cgrvpQvShZu8Uv57Gep/TeX8lms2H92KZ+rpxSWTryP74x7E3w2VLR7/aKdDbXo
vX5mFeW81W/hs6Fs9/r5b14MqHoOfa+f79BSy+9TOl7N2VCh7vULPBtqJff6+d/qF6G+colaCJea
xIXu9XNz2I1b/Wy3mK1g07DbrX6LVHJF363oXckV7V4//1v9lr6/Ur3Xb7m8Zdh7/fyr7jCWFdzr
579fP9wO1eB7/cLWVy53r59FHhwVM66cvMC9fkbhnpuh8/PHotzr5z+TXlVpKyp3V2/1C5HnD3Wv
n7+1C7sLOuhev/D38S1d8+55q99C9/FFNnnu9/EtI4EGFEN3+65YRbjXL1hbruJeP//yFCUDv/y9
fv6bCsw3GZFL3OvnIKXlVj/feTGt1ATd6+d/q597xVD0e/383cGgqrTVlHeqtnJldQ/ut/pFln2P
e/383QDX+/gWuNfPBUo2aPaj3+vnDyXgPr7Q9/r53+rns8YXre5B9rvVD+uxFdzr53+rXywZRQy9
7/WLWJW2sipr861+YfVY0L1+y3njYe/1C3Mf3/L3+vnf6hftPr5Fxcd+H9+i9/pZodiP+XOvTIl+
r59bMi3SiTqh7vXzD6jxudYruNfP/1a/gOg1fDG8761+ppuLl7rXL9KpTQvf62crR7StZy1+H1+U
bJbvfXzLF8Ort/otu+dKu9fPI52tbqhRd6osfa9fmLPTl7/Xzz+vZb2Ta/F7/dzKx4xYy8WKLXSv
n3/YruwcXv5eP/+w3S6Vi97r50axkDshI9zrFzKuXPJev1C7B5e+18/hGFpu9dOxLHmvnz6xrrf6
mU6bX+peP/+C2FhQsBvyXj//FRsTxZa618/aL3tycmEfxnavn//iQsDpQKHv9fO/1U85t2f5e/20
LrkXxCpr4tHPSsm7GIcnT+Og1PDehjnEdL/+5ThRET/zXsPUNt4770l0KVy08ZNCEw==
	]]>
	<![CDATA[
	I4e1vzc26VzVZVNRpaxW7J0YGYQh8xcyr0/yuSUWPZ1OJvT0KwFm5TiReT7fIPMP34LSBNVTJTbO
9o8IMjVM5LvPY5aZfB3XgGKDV+nqdjuV+0lvlX5LZOPzvLj+Oy/xiZd2j4FP74cb4s68unl28XvN
/X4/PgscwXbFs9oDcUJMEtxpnX0vXX/fHvSaZ/z91418zv3epeSPjftimq38Wbu5PoklvwuD3YeR
fJAa/raE3+TkcMifJ+7PD7Y2mFSdT348Hx2l51/rz+zoRS7gqcWVnfu3N827BJF5O0zQn793mV1m
65CslU5KZO2je0zW+c3ryeRdSk2m4j3Iy3T9je9Muc7zpV4KeJPZy+fuCeZUWtPK3v7kJ9OXEbps
Tlp3X/W1VJfuPJ22pGL3aozUZHOszwu6T3L+TiW3i4enx27EwuSA4c42JxNmI+E70q9Ue0u+XL97
utnfGE7yMC+bNPs5Xx/0Ej1US3qsFYcm5tkxe472q50NcU1ioli7uUmSG3IPnl2OrA772CY+MLTL
spFZVfPJiq003W8Jas2NEvt8sjyvPNXkB3x9Zvm1fv3An5d7a4f52e7xYX7a26lJ69+X1ftD5g3I
NtyvD+4eXmLJYoNPdADO3a8GVrlAM0VlvgVUzPj4drhzmpjgURV/RqfT4sn9fStTvXtooE8w3MsB
gYp2s0pQv889TnDkROZnKbQXoTXTYuQ8R2xpn6gUzh0DTYQhfBW2cd0vKJyjMXzdy+KvYMWeJ/C1
TGg/q+VrVfpMBLANMlPJJue1VOPoiMpufbViSa2jJ2nzK2nW1l9kzC9OM139Rc784k2Q9Rd584tx
+dOEhTK9qpd+UX3B+bb52W2qozU+z5pffLI9/QWB7zekGhuHJDIJG1QjV2Ow3T+nQBeNvqnGwTUD
X6/MsDufGUTbq6zSpLshFFTtBaoQsVeJ6ub2KNQkj6qWfqjuwREi25UKtHt1q2C5QkWtu+uI3hlU
XYwN0wadzrHI+78xEYZOHxzuICw7aMH7ujQgPreLl92P08rJUaJpMKRejFk27VVIesWdJTrdqO1G
B2sDaj9HEcBene7pYEvc7HJDrr8+iZ/F5nyjX33qXZJofJTByfTr/O2w3G/nKTL/+MZojHbDGiQA
+1I5EHS2uc9hYtKVqzKyhvd5TQTuAXbnFd3Sdk+p/i93j+3CCH1i9E+sAqC688PD1ycFHmBpdWto
zp/y2q+fSP2Tie/QBtm+1psnxvyi8r1R7X7/SmT++w+njeVJvWaTTG+IIJX0oJmsZqU0iDh5t2FO
27yn1NVVZUDGHzUJqObt9rlXwkDKbKYvEFFf4c/jfQp9onAeRvlMm1uefbLoGWv0R+/NVe397rFc
yYjpWq16dieq1nX2w5Fyp8AjTiWYjd3d91or/fxkXn1zN+Wq8S+Bh5epqq6KpnVNBmNyIGwVNkc0
W70v/d6B3tyuZCSO3dU06PggloRXZ8eVefvyAl7tHdSkjete+fV4vbH/u/Fzaj/EQJ2w4x9Ve0F/
FRFvrx2nscBpTe5+kTYkEI1TWCpfpuh9XmfOF/gqTLDexHKAi5IterPJYtgo7PlVJ547zOGSc7Qx
HTyz7J2qmOVLYVfLwH/cFp5dk7wfb4cv9tlHL5Cuzbso2YyiX7UOv2JVjvzk/XIO9TFFv04736XB
2rBm1bDALMJdo/z+XexBQDouqRJYL6TR5Jxhlw2oI1IK7UCrijC7nxeKVlXkBalUTtWmWGVuHOYr
x7sjEuBckAh9mtnY+SxqsG9p9AzRLmMrKi+bc/9gCw3/DsZCpogdPw9vxifS509SItMlDtGfUiJL
186Vr+nd80Iie/d2lMjlt64Tmau1TfS2mcgVmX30p5fInj00YslEejLJJrKJ9y3kJN7pLsGmkkKU
L/cyyCyrpwlUX2q/ujOJVd1htf1e/T4c/ubfD++2rh+LNzt/UpWjZ/4YNF9q7XD3oEaocSVyHX4N
ly7/lRxlrYFIaKTlfm1zAvgefg9HjcljrZVtrIN3cfG5e1q8qbAblY+r6TUWtGnidatC9pLDymSy
97SOHQu60r04WAwzyH7lY3O8XmDKlQ4MvdtyG7DHcIcTgNhk7fEg4iG0WLylnHign6pxNkTClzPp
LHJaGZYuLg9faxWOe4+K+UVy7k92we2Kme62tg93Xr5aFeL6fVL+2Bt2MNFDkFwdC1OcJCoLTvfC
PLZ/29qu2uJTVVvW8U3uxz/qMRq1lulid6YkMiK/Xji9PixU5X7pO5W6qjYu+2BfDn+L+WLl6Kc/
rVUGVEmVRbbSBwN2PUNSuUWwjeJP2Jl2ozaylQvS+6BwpYQ4+/PNhP/AwYeJMvQIAzczmraW9N8y
GrrnXR/6wc7+phHqk/n2b84+EWHV6PbW+m4i+zs+RWr0FLQlhNQn8Co3QeqzmcimD0HXbpeyiZyY
e0uk+wNQrsOrF/RrEjU+QF3asDgJQXRAmn95YQ9iPiQvXnNATu/kw7uTvaNaa3aTqL7zF19hhX1x
DbPEcPHaq0O7RcAcargoo6h4bgV0m7w4V3Ip259TR1nUEmMG++IxalBmdxsVf2mLymNLqPUQSh2f
cxXRike34aa9Cqs0KDZuiyX/E6fFnceikzrScMFT8huwC6OVtqJjRmfcRZhkV7lamseulvTWVOHS
1itR7GQk1txSY+USQdIQuD2eF7Nj8rDYvTqvVQ4y3HExOypsVZ5qs9dig38/P/y4Ge9UJ6+dC27Q
edvAUR54F/nJbKP0fk43a9I6t29EfDvzz/1siWAnd/TWwXbdlj3TjvrK40OzCJyC0cLDd4jE+fVp
NdN/+ire3N2DttyRpck3jD/xJfw2rk+r7fYWUX3qrX1hypvmIDl6LSP/gIZgljqyjDkIM/bHMO6N
DfAkfl/QHAD5y28v4dyJ6bl6opkfUuX8MZcB39MVgti9B43+Sh3uHH9fR0BqdSGMCu5lHMcQ3hNo
mCU0elhThuIXb8cxiN5hqR1LLuMz/oee0gJGVDsVcCXukqf3YNnV+V84yxgz8FhkDbuqSBylvC5N
oRnKYS3D7Gj2o1Hejv45xJixb7mUVcFHgB5rYrZ3bSe5cqYKPirBFrBZ0oWfQuH18kwC48Efwp/d
EpiJ9XP8dXc3N9sFC1I/BcPTPD3Mzw5Oig3ulgBzc9eEr2StsDmqFED213s8+R/YF7MCQGsWkRVu
cLhqU7fq6tviCjcUZvV0Ux9VPy6XS99bw5cKIWxNIxnW/3/tC6oWdLNtETEHDhc0vz5g0DDjjf8k
GeNrX0Ct54Y5cWBPiUQeuJnHdk42Ki+Ven3vG/QK87tCF8o4qTW8fY3O4o56sf+E2/BOleUEOwS3
xZKRxGvB4caSC2iTpXgskjaJJFzBeizsJPsJ18I8Fkm4LD6Mi3ihZblH8+4y6+ZU/LNs5ZpGKb3z
ROYpdZjIDNhaItvqHaOvW4ns159XlOvrEudo5WQHJfcuEun3DxEtqVRRSyaRO5Yel079eeT5V5yW
UeqSVpmn+G/y/GHcKp88/4KR6pIx8hJetJIbX8SjjBLE4D3wq0y/uqJfMgcbkuNd8mMuHvWyQUws
GW6tZTnMSn5spaHEf5iD9Y/ezPkxEKpUY5H82HA8qd0csA84IKlJa3PBFqnEkquIVbZS5X7iOe0p
4KBhrCJu7BnM7Pb5e3V3x0N7tgCfU1vyrPwlvMoBOVhDt/1m1B1+3M/9881mc1ENU6y1vgfbteKg
/ScEd+NPACdTmyYO5LvF15L0AUcf7kNilL9Z1IotOtxYcjJ/PxUW1WMhh6vW8iw9v/7DRTy2ivn1
Hy5I5Urm13+4aPZXMb/+sxuY61uCnY3ZXWDFaoHhYou8gvn1H66yLhY0vyjHBSpzuG5elzfvud+0
GIzUj7mv6ulzpuPs0SEq6g+3LT9kf40dVFhPOypENWNkP0tCiSwSG9U3To/prsx3qqi76nMm12+z
K56YOoqfJWapqQ7g0gGA3a6reX7NcR5ZRoAt7W7uzLC0dEp6ZIzRK1u9k6UN3fPubjoAlPJnJg3T
oGoPdcrYmQhDJ34Qt6XwXOX7+7doo+LlKN/PFvZxaKY9u/vVnj1O8v2LYUbfCYnOQTo/MWoTsPVF
o2bT6HohKaEazJ2fa+SXJ7TLjqR15cXO4PbcPMm1uRpSzt/36Ix+u8/24f12W+VktMmewB11Xvyj
bdjFc8AIF9/qvn96TpnM90734gwVTqyh3jxab0FKmymGWLeq7LSflB6fdZ7+SnU2rl+o9hpbV3pj
Zj5qrJPgzUwC+vNKJ8GTkoVbN/pjJsK3ONaIcMiYiJDcTbxrJGDzBglQb77tR/mqnOxJhIPC91Aj
wnbSSoScTgIVqVpsgKfEQQJsK21E2Jtp3D9PGERIsNPnzTB8cFC4nKmMXUqfZJR9SnhKXom1P7ca
EYicJx+gCuAtjYoFysZKngDMGgYdt5KKDsJxuooTQCwZGoRyMoSHRPjLg5ZPVu62XWIYyq2cHgAM
qfQFgesYFxqGal/QfmJiuWHcFvI2prKxFOZkXxBvh6Q/CH8AaB9zCkXii0s3lSWH6RAA8Ox7gZBm
28v1oZzMaDvubCBCzgaqhMm69sEMQO2DIvtOELdULmg22rvnRh+Y5wElmgG8CSaWMu6wizKMz718
JK6MJR0gxmUykBJ+Ji+3cUQpDt9avVEytCW/vv08YX5NLeul37TasvZH763tIjvU7nQtmEGInJnH
7J2q36aW0jpU/Y3IevBYWDatf7KBDKL1wYPH6uPCUloHVwUYpLTwWNhhNHK1aFrHyWMN/pRaSuIb
B9d0oEWe7OcpHUSDnRG3uyYQnbfkAlrH4vN3PjOZAEoE9GFMuWodsMhhKdHdEHILcoRqkVGVHLGU
4uryZW+t42uRccjFUSnsJBq1Qxi9mEt02cpBpvWAdxGUX4+ldbUOijvM6XWYL/TrtDdVcn3otruX
Ysa8ynOfwpU3pkKd6lthVy2CuZCHap3Qw3eObjV6WbwxWyn/e51+4aodpZ6GObhdI/CZkOtb2nEV
61v4UCnoD5tWapCqL4cj+FrIKLWbW3vXv7i3ytfXqawUdRoBC7Lhn3odkNLNWFKtKCKH7/orc+Uj
2Du9qvLEXFUJJkivqjwhzC8+9z5M1UZmLKCuv/RKzLRSOwQKVy8YPTcXjIIW1Cv/zs0Fo6CYUNnb
uV6sd07iJCfMPgg7crHOlQAfyZ0O+yqjFGaCHCDeuMrpPv+GkrCFZ4Rau8mXEZQrEh3wP6G6jQv8
VVtNoLpPz5Rac/tYy+TPmt9Inm6U6ig6zRd0wtwQLgV3LuV/maG5/E89u8PrED0Am18QrA1ozFpc
eEOaMx/59elu5nZnwu/fsudF4bWXUgs9n5oJlZMfn2ldNt4NRqPT8963XrSJbjIyCiUrjT1kz+8J
tZTz6UgpNEPbmTn10+CWVj/Nn9+U1Ek13W6pn+hPVHp2zykAWk+HCN4TXhfr0CO6NQ==
	]]>
	<![CDATA[
	OFUqe+nW/FqF/Z5+0PnuiTaXbe70/ugvWL2armMay/t9omyUy8aSngWzekKlrJfdbprOkNIzMkxy
fqSX473mFYnfpG+VgkJmc+eZU6pr4XOlrZebvjJqy7ufor1896J881qrDNa6xeubl61qJ3d4j+r4
dvHtBGo15GzMK2WpilqrtThbZUp+U9FeqlCdDdUfXsjbChW39prbauV5bT7AOgvlHEhVZ91X24qa
gfgTTUkjpUolCgbRCWONbQUVOg+MruSeM7jyXC8wz+Fialx+js6ueNALIbXjYbla3v0EH+6IxOdd
PFypR0Bp50CR+X0W63uwOalUQdXE+wU8jBRo594z7jJyyZFSOFEKgrFrq9Yz7tcIncVfY0lmQ/oe
KFWVNmWGJEexC6DRCHV89cOMUVWpaux6LYdqM0lVY9dP8yTXOTlQ9ZiiYUCPGbANZaaV8RT/935M
ECQ6LnIcHc9fzwfy5GLS/+wP49nYTixfPKKo22FvVJvI8o38z6wy6s5/5OEsXojni83y0ZHIVeTu
qCfHs8o2ZcGUAFH4Q90uYD72w7KPQCnzrnxI9e/G+vVeu/JBPu7bdxmkmcYerr9UCod2lTqj7Ff/
C20mIBKZeaGJ6ogqiRx5RisZOZcDVUzbNJ74n6fd3HttJNwzZM+s7FpyGRVB7e91itnx+fHhiTTd
Fxu790Rt9MTeVScvT2TlqfZ4U9sr7nXxOQhhK1FNh4eYD523lFBtooJTFo31Do20ktioiHmlOgqe
HaNdFOfKfgp4cWDUnya2f9cnyBEQrXnpjKoCqO0ytaPyba3V0njicqSJTRPcus9PlKC8+1Vt0vca
oaiPDelnhopo80qpMshlSv30R0bHJzTSWnnSx9Yv2pLSyKhfC6mcKpL46ymrgvi4Lcy0aucj0hAM
kLaZpImXkDZe4P7HktqrvYzpVXujvKe9KBtO1itdero90F4c5Y0X5pri/QtKf/GGJwwtkNT3to2n
ZtrVy1nTCxPm+hGBFPc2aIkX7EmlQTj/zOHFNaUUMh/cJuDr5aECOZbEB3LgQznhaQ07Wdsg2nIJ
cyNav0D+6qlItdcuYGovL/JIS2YBwe8GfL3FYLeVyclfPjO6/5AxTobAWxZQjvrx1CDMu4YFr+I+
5Sr59u5m4XO4dVvbrbJ/jMNMMspRJ4o+1FWlpi/1k3kkUDTttWF5hRAt68zpY/FKEuvg/B1uyTeV
o95eQpWnxwdKP+7BbI7Tg9a65lq0WX3gbTN7dS6wh5tVjzLp3ObVg3Th8wNJdU6P0vAJHDTFenXe
6H3piIa56rQZ7VOPxSDUqf2+xhBz+EAy+PqgmczvZ1L79EaZZr9Dbx2c7qv9+e4xekc79FuCaal+
w9lvUjsR4oc3bfWS39If5S++dlEaiOuiSWUqSwCghGJJ7eAA7Y9yOJd2jhsY8wfDKnVVVpm9kVSd
OkzBpzalfeoZDlpXNTizP6x6QJi5P9zsrrad3t8R7nJrZ7X3s6SkOCubralAHtczyOd65VUP6YE0
6hzdD9ZRD3M7LVgO0nXbibb9WpujDWcP6tays/sHZCZSqt6cFy6RQm2ALj24sW4yk5T9ZY6lcWXK
wJYoGrT6UsRx2bbm2TTHahNUF6uen8OmjPNzdI9kC11C9ou0ZUbXluDRmLXl44hQw6/DxKsaZZUJ
dMrdZZZ+ne8e5fsPM0LxBfvZQgYfmQF6rHrsdvSauqRkm3306lY9kMKmXLEIgFbVunyiHlADwRka
y0neOOzBolVPwWHSvA77wTq8ftzDtj6+tBLsKswHulR5hk5RVTQo1pvgZ/1RXKNGroZC83PK7Pqb
DtYJcyKY+Qwxzs45VsWEnD+N/XA4n9lrVns+y4O7J8qBa8r6Yvmmw1rWF7nG+i8/P9MAvGsFKubj
rjqXv+aF0Cf62LEQuvf4oy+E3joXQh/NZTCb3KhmKRdX1vGOng0QTQWEJllK/KOyQK21Rad/SgLy
1lMQOX+SyGlJq8/av9vqs++1DPI9wfXXY52eY4PmEgsNOATS1z3x1ivl8LFX8yLk4PbcaxEylYm8
BGm9CuKdGC21/oZiyOXSZFj2VSJUpk2dBC9mEsyfL3QSPBgkUPRYNgQRmMOrVEolQvvgwkKCwtR/
KRr5yf6LkNTxdJnFHnxDk7qNbLHF6C0lp2ZaP3ZjJAAQS3qDMHGjHwhPAMaKOoxlQRDVl/1tM/n9
5EGZFweI9lo9s8wwzAwJALyk0heEvrAeYhgYQCxpBwF6h1hmGCj0zttYClEsAlMpN4dF5kqTD5My
82VU6VYAmLjSAkArTwoGYfDlohomZeZLM4iws5Eyc6UTgCr71l7YQRh8udhejRQuGtT5chGmSoXg
ShiLLwiDL31I6WfyzNqSbFSaHQ3E49C2Q8dgPrJ2U9J7+/hqbxeOx/w2A5l5LCplFR5Le/FYWFFJ
GzzmxiA6j/kNw6b7IjNI2spjCw3D4DFPPg/gsbQXj4XuQyiLnNiqvFypIOjpmxXEdljNZ7LID3YQ
Ol8u2AerRV6EEttmrgzkCFeLvO3Pl8GKa3txi4wTlRCQIvezkbWfd5w7lp5QNdYTCo8hZL5IZ5UN
jxCT9oyjVBuEduryKe/YiDs7FLHDZ6TLTCFce+PnRUlvbO09qss1pYcWjgdz2pKScZyiGnA39LMZ
0ZoAynLI0+9t64pAVhmQ8rVMEGo31Z+ZTmbEhxYaGUU2ZcpCWpP8pkDZtA67f5g1pRpNiRxLph8f
TmpgOTXlOm2nJuLY14y5fpgxpRpNmOs1I5f3BgS8neDsv35cb/2CRPydUVODxqmJRvLrspzByUQ1
7Ls8ymkx6Xxbjc4vTwkl37i19wBxwOU1ifQPROJ47RoePChgQSMMCfXw2Q0ira1nHuG5zJhzp48X
RNj0Fcpbbj2XjaSVOcFhpK8er/OREmI2eDEXiLekaZXgdq9QLt5u7ryXv4STcfGmOLxX0pOl5+03
dYmy+6Avrd0wxqm0xuzijOJp1pSFVPJsnWvl/GV0C09a+dReu1OSksYaGV16Yhq4EhOngfAndWI7
n5ySb9Sy1t+3BFIpFMybiAOfnJ60yplz1d9t2pRqNOVzvj9Z/chZzrSKeXBba+BsLJLK0PldfQXN
kd/dNfPi7DmPtyxAr4t4zATefnGcUZ6a+j37ZPAz7URYc7aZf/ppDCofyenN4e7BA6vkFve5Vw60
yVVKXQbtJzdxKhUrM4xFzbYvc/BrxvfYV8CykoNf/Y99RZs7V3Hwq/+xr1gnr+DgV/9jX5UNK0EH
v47+935sJ5ZEK5St6rBnXp2MJZPwpCnP5mPUgGuV5M/+8LT9rzyJUXHlXxL+RX8FKU7RYpzmOPjC
oaennVgKt41T6fjpEH5RrMaSrXxxMqv0u7P+aNie/BsvoEcPZ6e3R5V4Ia78oAU/2ImnoEtkC1rD
qzRaF21BN1sxMl6E/x7+BnjXMZIQAB/BCxIJ/9DwP4HiKfyEQk9IRqRYXhLgiUTiJzQtiiIlsvGT
GKl2H6D9C9CO4eufOB//O87Gz+LPr2S8hxBdx3hRIlie4nlJoikREFIiTbCMREmMAOMV+fgPtCEJ
RmJ4ihNomuf4OCWJBM/RlERRPE2RUpwXSELkOJ6j4C/0KQ5PCZESoC8sK9IsHed5eMAIPMuzIssA
HsBGSAz8gOR5luSZeDnGiRTBkhzPSLgREFzkCZqkKUGUOI4UxPggxtHQX5LiBZrhGVqk4gxDEiSM
X5BYlmE4Kc4KAvSW53mBFUnUF0ZgCZpmKIEjWVGEeWRpDmAwMBKS5ET0E+gLZ4bRjTFoiGrfaC7O
shRBkhIMT5AoQA9AGcAi8ZxIkwyFWvAUAf2hRBH3no0zrERwrMSLNI8IAWgF6Dp8FGAMtMRjLAy0
YWA0As3ypMTGoYMEK0B/aGA4iQQ8DEtwQHWBhd5yrBBnJQloIlIS9EZAUBwtOIoieBpGI9LKdCE8
jjYMPCApluJJCiiOoQgcz4vwQYKuQAuJEFnJ3BOOoGEGBVKU8OxwQHlOZIyeIDwcIZDQhqaAOVgq
zgHdgPIUmEkBsxdqIXEM9ASGDbSNcxzQjWIohhWgr7RbC2AdC2UVPJY2PEkTNAd8zGJGoTAUTuKg
JzwpsDQwIMMQPEOZW7CECP3mYYwSyzFxnmMJRmQpjqMFBg1QoRv8AqCIHCYTL3AExQgUy0kSnjAG
wCI2ESgK2ApYlJd44BSK4gCyOj+2FsAB0IKkaJoUgHcQ5wOzgbiZ+M3RZuDShhQJ4GcgM0VhUQDO
EIGtgUNIGg+Ah98At1EMTzNYFCggE0gGLwrQQ4ECwQUJAyGnREoF2o1RJFAOJE8ECVeggPywtNp7
xOoUyQOTSrzOyAARVBBoJ4V0bNwJg2cJkuVAzyB2U/HQBMgTdAZRH4YIHScEBqRdQOQHXoHeUzT8
EsQSKSeAwvAE8C/FMxzMKXRfAiGEhyAxMBnoJzzNgtjqmooBPDBCkC9egHlQ+JYHurGgt3TRFQEK
CAZLa5wNeoEAtUapnEE5W8D0E0AxoKzC1oDG2QSUl8QbZJNAoTOgI6EroIVgwJwI3GVmSQfZYAQE
BbqH50hGIvFwoF+AiFK1GxCF4wRQK1pX0fRQMMkiTDet4WE5ggcmYTmSktBwgDtBNQlAepZD7BWH
aSNUmdW4AFQiSyo8jAbIAVqQdQoIiYbDAAykH0hgMVDvWL3BeEUwUbqydrYA5SaA0gHyIJ1IIzSg
Q4B3DUFmEbOBetPlFnoEYM0tQB0wlp6ABmFoASyhwCEqgbIG/pRAKYFWgCcUwsOB7mVA5bMCluQ4
C/qBBPUmYYUPpAZLZlPFwEokUg6aRgRVCRqE5AWe5jEZWaRERVNPAA+YBQlEVDeELBhCmAeYHegf
MDPYV9AgSDGJYMURYkYCawSiIZEssAuQCfpE0LzGWQwvYf0ocSKJmaQbAxISSBnqlAbdCb8AJiAV
3orTJEtIksDrxhUrMhasBh4tMr8k9B1pArCdSA7iDBhW6DMgx+pcwHhAwYCw6xLqaAMdA0FhDU3A
IKsuAR4JJEwE0tMUzAViNZrhwNrzcVqCvkqswa6ABxhFQJqYIUU8FzRoWRguBboUK4M4WG+wK2Bt
OYHHegtGC8JksD34ZmAAgAl4RRcyzhaAh4PeGqoAwILGp5EPAhodtAH8BoksUB4mECYDxgdcwtMA
QqMSfIaeAeFoMBSYAkAjCXWJBLoIHDYaoNhIgQHDgnkLtCEMGblPoiCALINVZEhwUdBkU4qrA0zB
Q2eBeDBFLLJFzhZAEhoEUBREQE5RGI+9DY8UJrAN+IpgyMFkgz4BVjScJcTCkmDIOeoqsBawmkJ7
kCUwVpTKvYpig0kCswJU09wJ4COCAyDwHbSCIABbgHMEngEYEgwYWgCPIygAUgTDCy2QOYOeK24m
8DjLgDyCWPBY+Sm2liagJzAcUUQMA21g0kEriTwtSGg2kLdEcjA32N/AUGA4MMfg9Q==
	]]>
	<![CDATA[
	sjQwCggCh9wAw4txtAA8ICw89Fa1K7QLFA55s9BCM1aoJ8ADQDaSBbcb2BwYRwJjBvpewjOKWvDI
W1IdWoSHA84A34EneRYzIFgCUPeg/gQJuaHABuAyQhdgzBwyJDRuwfBmuoH+F5F3jkiFHFNHC8AD
sw6d5FUny6UN8lUt3h/qLQc8r1lfaCFalR+wFCAmdckANGDgOJhcQZKQIobhMMBtSJA1WjOg3pGb
wSkaH4YDSoekWYMojASsxELfQPgUZQh8waCOiAJ2dLDjLZj9HFDvNKhdYHkJeF0EXQAzgOwMr3E1
2Bkee6oS6D6wAuCKg26D9rzhjoC9AxQwf3iASHhY7ASYZwdUGZgLCjgCWx6s3SUkBbp4gV8N4gwt
cCDBQAtwAkAewRCDwkMDtrcAPDQwOmIVxeVyacPSIiCG0Sq8RWH7DT1AGh87ZmCrYDzIOQffgEFa
yNFXwMOAhIngOICHgTWIczzA5la1BD0RkOpieBKrZpZFOpQ0fGbka4A7Az0BQDCxCA8LTjKvWjzN
FxRNahYZXys7wnyBrAEa0KGgIKAFQAWp1s0m0qkQfUmsALEeojSgQYoKqRSaA40HP5LQaEBxwdiw
HQRHAXQ1ZQpcwa7C9IMi1k0v2FFwJHjwFQXMXBCkUsh6gfvOcEgOujHwiKAv4F8JAoVjC7AaQDEY
Mctg3wg7PhRtChM4xc2RwKdBI6RxpERBd4DALDaCoITQQEXVQUTTw4EzwSA2oDkJxTkg2eDFMYqi
xjYPuWAMGCcaXAHVxEHvYTy05m5wiFHgK6d4ncD4yJIiraS6hxgPmGwgs+7ngF8HUQ8oHI5WnCMO
mVKISTlGRBofhBIHGiBavOKpQgvBqs4dLQAPiusYpAFVx9QJhUPeEogYg00JTBgofJhA4Bo19uAQ
rVlNSoEEMBwRyS3Jqv4+4JGQC8LyRgQDYBBVRIFR3F9Q5QSvEwk4kkaRIDCkmtSAyE9ENlsyRB18
ThFF0Cq7IX7jkRNGq1aQwW4XuIeUCQ+IL0SHJIQWtBKdIAuGYgRWc3UAGw6LVI8fOAUMGoVUg0gr
SQOEB4kya6QNHG1QQoYBxsLjxZ43g2M45D1iYwQPCSSihvMOXadQQoAEZQvWCKEBYZAk5N+pnAEx
AikBowJjcxxSxagF6HteD6U4FExCRxiIYMBppZ0tQCQRU4H6wL6soOKxtgHiGyqF43GACY4uKGqG
VloI4Bqg6VHCPBEPGHrP62EsuucSiSkoEbD0IqYaTZiEh0HxmHUGHfMHv6AFWlc6qAUyNYwW6jJY
L0Fjs4OI2ogkxCa0Oulg7wk0UTAe5KdQOLoHUTLcTAqcMJhNpDAkZF2hBXAoOJBqIKioWbBUMD8C
aHRJGw8Jsq75+EAQxOVGzg16DFoW1DAy4Nhxo1AkTyIgDCuiRASAAJqatDkYGpJldDZwYzaHuXUO
B2kHkB7d4YVW4HNhrxv3FOQCCSk4hGCcsP8BfjkIHG0oLiVigzYQbEBEi5IZwMIgojqXUMhGcIbs
QAv0gDUiABc/FGiK1LeRHUQxHYk4RPPb0PSRoinHiBxiCMN1dzc42VmOTd3TuDg9e1pSUsXVYQ/n
cnO5WDJ52f6Ubybt/kCexD6n7b/keHs4HM3aM3kMb+KfE3k6G03k+PRr9Dd6Aj/RmieT1Yta7P8A
uSxgRg==
	]]>
</i:pgf>
</svg>
